{% set show_sidebar = True %}
{% extends "layout.html" %} 

{% block content %}

{% from "helpers/_viewhelpers.html" import render_publication %}


{% if result %}

<!--- Results Table --->
<table class="table table-hover w-100" style="table-layout: fixed;">
    <thead>
      <tr>
        <th scope="col" style="width: 70%;">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Country</th>
      </tr>
    </thead>
    <tbody>
    
      {% for entry in result %}
      <tr>
        {% if entry.get('dgraph.type')[0] in ["Tool", "Paper", "Dataset"] %}
          <td class="text-truncate">{{ render_publication(entry) }}</td>
        {% else %}
          <td class="text-truncate"><a href="{{ url_for('view.view_generic', unique_name=entry.get('unique_name'), dgraph_type=entry.get('dgraph.type')[0])}}">{{ entry.name }} {{ entry.title }} {% if entry.get('channel') %}({{entry.channel.name }}){% endif %}</a></td>
        {% endif %}
          <td class="text-truncate" >{{ entry.get("dgraph.type")[0] }}</td>
          <td class="text-truncate" >
            {% if entry.get("country") %} 
                <span 
                title="{% for country in entry.country %}{{ country.name }}{{ ", " if not loop.last else "" }}{% endfor %}">
                {% for country in entry.country %}
                    {{ country.name }}{{ "," if not loop.last else "" }}
                {% endfor %}
                </span>
            {% endif %}
          </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
<!--- Pagination Nav --->
{% if pages > 1 %}
    <nav aria-label="Pagination" class="mt-4">
    <ul class="pagination">
        {% if current_page == 1 %}
            <li class="page-item disabled">
                <span class="page-link"><i class="fas fa-angle-double-left" alt="First"></i></span>
            </li>
            <li class="page-item disabled">
                <span class="page-link"><i class="fas fa-angle-left" alt="Previous"></i></span>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('view.query', _page=1, **r_args) }}" aria-label="First">
                    <span aria-hidden="true"><i class="fas fa-angle-double-left" alt="First"></i></span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ url_for('view.query', _page=current_page-1, **r_args) }}" aria-label="Previous">
                    <span aria-hidden="true"><i class="fas fa-angle-left" alt="Previous"></i></span>
                </a>
            </li>
        {% endif %}

        {% if current_page - 3 > 1 %}
            <li class="page-item disabled">
                <span class="page-link">...</span>
            </li>
        {% endif %}
        
        {% for page in range(1, pages + 1) %}
            {% if page == current_page %}
                <li class="page-item active"><span class="page-link">{{ page }}</span></li>
            {% elif page > current_page-3 and page < current_page+3 %}
                <li class="page-item"><a class="page-link" href="{{ url_for('view.query', _page=page, **r_args) }}">{{ page }}</a></li>
            {% else %}
            {% endif %}
        {% endfor %}

        {% if current_page + 3 <= pages %}
            <li class="page-item disabled">
                <span class="page-link">...</span>
            </li>
            {% if current_page + 3 < pages %}
                {% for page in range(pages -2, pages + 1) %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('view.query', _page=page, **r_args) }}">{{ page }}</a></li>
                {% endfor %}
            {% endif %}
        {% endif %}

        {% if current_page == pages %}
            <li class="page-item disabled">
                <span class="page-link"><i class="fas fa-angle-right" alt="Next"></i></span>
            </li>
            <li class="page-item disabled">
                <span class="page-link"><i class="fas fa-angle-double-right" alt="Last"></i></span>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('view.query', _page=current_page+1, **r_args) }}" aria-label="Next">
                <span aria-hidden="true"><i class="fas fa-angle-right" alt="Next"></i></span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ url_for('view.query', _page=pages, **r_args) }}" aria-label="Last">
                <span aria-hidden="true"><i class="fas fa-angle-double-right" alt="Last"></i></span>
                </a>
            </li>
        {% endif %}
    </ul>
    </nav>
{% endif %}

{% elif request.args|length > 0 %} 

<p>No result!</p>

{% else %}

<p>Choose filter criteria...</p>

{% endif %}

{% endblock content %}


{% block sidebar %}


{% include "query/sidebar.html" %}

{% endblock sidebar %}