{% from "helpers/_formhelpers.html" import render_query_field %}
<span  class="d-flex px-3 py-1 border-bottom">
    <h5 class="flex-grow-1">Query </h5>
    {% if total %}<span class="badge bg-primary align-self-baseline fs-6">Total results: {{ total }}</span>{% endif %}
</span>
<div class="list-group list-group-flush border-bottom scrollarea">

    <form class="list-group-item px-3 lh-tight" method="POST" action="{{ url_for('view.query') }}" id="query-sidebar" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group my-2" id="fieldset-container-sorted">
            <div class="mb-2">
                {{ form.terms.label(class="form-label mb-0") }}
                {{ form.terms(class="form-control") }} 
            </div>
        </fieldset>
        <a class="link-secondary" href="javascript:;" id="more-filters" onClick="toggleMoreFilters(this)" hidden>show more filters</a>
        <fieldset class="form-group my-1" id="fieldset-container-unsorted" hidden>
            {% for f in form._fields %}
                {% set field = form.get_field(f) %}
                {% if field.type not in ['SubmitField', 'CSRFTokenField'] and not field.name.startswith('_') and not '*operator' in field.name and not '*connector' in field.name %}        
                    {% if field.type == 'BooleanField' %}
                        {% if field.description %}
                            <p class="fw-bold" style='padding-left: 0!;'>{{ field.description }}</p>
                        {% endif %}
                        <div class="form-check" id="{{ field.name }}-container">
                                {{ field(class="form-check-input") }} 
                            <label for="{{ field.id}}" class="form-label">
                                {{ field.label.text }}
                            </label>
                        </div>
            
                    {% else %}
            
                    <div class="mb-3" id="{{ field.name }}-container">
                        {% if field.render_kw.hidden %}
                        {% else %}
                        <div class="d-flex">
                        <label for="{{ field.id }}" class="form-label mb-0 flex-grow-1">
                            {% if field.description %}
                                {{ field.description }}
                            {% else %}
                                {{ field.label.text }}
                            {% endif %}
                            
                        </label>
                        {% if "%s*connector" % (field.name) in form._fields %}
                                {% set connector_selection = form.get_field("%s*connector" % (field.name)) %}
                                {% for subfield in connector_selection %}
                                <div class="form-check form-check-inline ms-2 me-0 boolean-connector">
                                    {{ subfield(class="form-check-input") }}
                                    {{ subfield.label(class="form-check-label") }}
                                </div>
                                {% endfor %} 
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if field.errors %} 
                            {{ field(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                <span>{{ error }}</span> 
                                {% endfor %}
                            </div>
                        {% else %}

                            {% if "%s*operator" % (field.name) in form._fields %}
                                {% set operator_selection = form.get_field("%s*operator" % (field.name)) %}
                                <div class="input-group">
                                    {{ operator_selection(class="form-select", style="max-width: 30%") }} 
                            {% endif %}
                        
                            {% if field.type == 'SelectField' or field.type == 'SelectMultipleField' %}
                                {{ field(class="form-select") }} 
                            {% elif field.type == 'RadioField' %}
                                {% for subfield in field %}
                                <div class="form-check mb-2">
                                    {{ subfield(class="form-check-input") }}
                                    {{ subfield.label(class="form-check-label") }}
                                </div>
                                {% endfor %} 
                            {% else %}
                                {{ field(class="form-control") }} 
                            {% endif %}
                            {% if "%s*operator" % (field.name) in form._fields %}
                                </div">
                                </div>
                            {% endif %}
                        {% endif %} 
                    </div>
                    {% endif %}
            
                {% endif %}
            {% endfor %}
        </fieldset>
        <div class="d-flex flex-row align-content-end my-1">
            {{ form.submit(class="btn btn-primary align-self-end") }} 

            <div class="align-self-end mx-2">
                {{ form.max_results.label(class='form-label mb-0') }}
                {{ form.max_results(class='form-select form-select-sm') }}
            </div>
        </div>
    </form>

</div>

{% include 'query/tomselect.html' %}


<script>

const entitySelector = document.getElementById('dgraph.type')
const alwaysVisible = ['_terms', 'country', 'languages', 'channel']

function hideFields() {
    let all = document.querySelectorAll('[data-entities]')
    for (element of all) {
        if (!alwaysVisible.includes(element.id)) {
            document.getElementById(`${element.id}-container`).hidden = true
        }
    }
    
}

function showFields(event) {
    hideFields()
    if (event.target.selectedOptions.length > 0) {
        document.getElementById('more-filters').hidden = false
    } else {
        document.getElementById('more-filters').hidden = true
    }
    for (o of event.target.options) {
        if (o.selected) {
            let fields = document.querySelectorAll(`[data-entities*="${o.value}"]`)
            for (f of fields) {
                document.getElementById(`${f.id}-container`).hidden = false
            }
        } 
    }
    let container_empty = Array.from(unsortedContainer.children).filter(child => !child.hidden)
    if (container_empty.length == 0) {
        document.getElementById('more-filters').hidden = true
    } else {
        document.getElementById('more-filters').hidden = false
    }
}

function clearFields(event) {
    let all = document.querySelectorAll('[data-entities]')
    let selectedEntities = [... event.target.selectedOptions].map(e => e.value)
    for (el of all) {
        let entities = el.attributes['data-entities'].value.split(',')
        let diff = selectedEntities.filter(a => entities.includes(a))
        if (diff.length == 0) {
            try {
                el.tomselect.clear()
            } catch {
                if (el.type !== 'checkbox') {
                el.value = ""
                } else {
                    el.checked = false
                }

            }
        }
    }
}



entitySelector.addEventListener("change", showFields)
entitySelector.addEventListener("change", clearFields)

/* Custom adjust order of query fields */

const sortedContainer = document.getElementById('fieldset-container-sorted')
const unsortedContainer = document.getElementById('fieldset-container-unsorted')

const correctOrder = ["dgraph.type", 
                        "country", "channel", "languages", 
                        "used_for",
                        "concept_vars",
                        "programming_languages",
                        "publication_kind", "ownership_kind", 
                        "geographic_scope", "payment_model",
                        "platform", "open_source", '~sources_included']
                         

function rearrange() {
    for (predicate of correctOrder) {
        let el = document.getElementById(`${predicate}-container`)
        sortedContainer.appendChild(el)
    }
    let all = document.querySelectorAll('[data-entities]')
    for (el of all) {
        container = document.getElementById(`${el.id}-container`)
        if (el.checked) {
            if (container.parentElement.id != sortedContainer.id) {
                sortedContainer.appendChild(container)
            }
        }
        if (el.value && el.type !== 'checkbox') {
            if (container.parentElement.id != sortedContainer.id) {
                sortedContainer.appendChild(container)
            }
        }
    }
}


function toggleMoreFilters(button) {
    unsortedContainer.hidden = !unsortedContainer.hidden

    if(unsortedContainer.hidden) {
        button.innerHTML = "show more filters"
    } else { 
        button.innerHTML = "hide filters"
    }

}

rearrange()
var event = new Event('change');

entitySelector.dispatchEvent(event)


</script>