Babel
cffi
click
colorama
dnspython
email-validator
Flask[async]
Flask-Babel
Flask-Email
Flask-Login
Flask-Mail
Flask-Table
Flask-WTF
Flask-Limiter
grpcio
idna
itsdangerous
Jinja2
MarkupSafe
Pillow
protobuf
pycparser
pydgraph
python-dateutil
python-slugify
pytz
waitress
Werkzeug
WTForms
feedparser
validators
instaloader
bs4
tweepy
lxml