<div class="col d-flex align-items-start mb-4">
    <div class="icon-square me-3">
        <h2>{% if entry.ownership_kind == "political party" %}
            <i class="fas fa-flag" alt="Political Party"></i>
            {% else %}
            <i class="fas fa-building" alt="Organisation"></i>
            {% endif %}
        </h2>
    </div>
    <div class="w-100">
        <h2>{{ entry.name }} <small class="fs-6 mx-4 text-muted">({{ entry.uid }})</small></h2>
    </div>
    <div>
        {% include "view/elements/review_actions.html" %}
    </div>
</div>

<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-4"><h5>General Information</h5></dt>
        <dd class="col-sm-9 mb-4">{% include "view/elements/entry_status.html" %}</dd>
        {% if entry.other_names %}
        <dt class="col-sm-3">Also known as</dt>
        <dd class="col-sm-9">{{ ", ".join(entry.other_names) }}
        </dd>{% endif %} {% if entry.wikidataID %}
        <dt class="col-sm-3">Wikidata</dt>
        <dd class="col-sm-9"><a href="https://www.wikidata.org/wiki/Q{{ entry.wikidataID }}" target="_blank">Q{{ entry.wikidataID }}</a></p>
        </dd>{% endif %} 
        {% if entry.is_person %}
        <dt class="col-sm-3">Is a person</dt>
        <dd class="col-sm-9">{{ entry.is_person }}
        </dd>{% endif %}
        {% if entry.founded %}
        <dt class="col-sm-3">Founded</dt>
        <dd class="col-sm-9">{{ entry.founded.strftime('%Y') }}
        </dd>{% endif %}
        {% if entry.party_affiliated %}
        <dt class="col-sm-3">Affiliated with a political party<a data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="Affiliated means that a political party or a party-related association or company owns at least 50% of the organization OR that persons who have a central role in the organization (or the affiliated associations) have or had also a central role in a political party."><i class="fas mx-1 fa-question-circle"></i></a></dt>
        <dd class="col-sm-9">{{ entry.party_affiliated }}</dd>
        {% endif %}
        <dt class="col-sm-3">Country</dt>
        <dd class="col-sm-9">{% for country in entry.country %}
            <a href="{{ url_for('view.view_country', unique_name=country.unique_name) }}">{{ country.name }}</a> {% endfor %}
        </dd>{% if entry.address_string %}
        <dt class="col-sm-3">Primary Address</dt>
        <dd class="col-sm-9"><a href="https://www.openstreetmap.org/search?query={{ entry.address_string }}" target="_blank">{{ entry.address_string }}</a>
        </dd>{% endif %}
    </dl>
</div>

<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-2"><h5>Owns</h5></dt>
        <dd class="col-sm-9">
            {% if entry.owns %} {% for org in entry.owns %}
            <p class="card-text"><a href="{{ url_for('view.view_organization', unique_name=org.unique_name) }}">{{ org.name }}</a></p>
            {% endfor %} {% else %}
            <p class="card-text text-muted">None</p>
            {% endif %}
        </dd>
</div>
{% if not entry.is_person %}
<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-2"><h5>Owned by</h5></dt>
        <dd class="col-sm-9">
            {% if entry.owned_by %} {% for org in entry.owned_by %}
            <p class="card-text"><a href="{{ url_for('view.view_organization', unique_name=org.unique_name) }}">{{ org.name }}</a></p>
            {% endfor %} {% else %}
            <p class="card-text text-muted">None</p>
            {% endif %}
        </dd>
</div>

<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-2"><h5>Economic</h5></dt>
        <dd class="col-sm-9">
            {% if entry.ownership_kind %}
            <dt class="col-sm-3">Type of Organization</dt>
            <dd class="col-sm-9">{{ entry.ownership_kind }}
            </dd>{% endif %}
            {% if entry.employees %}
            <dt class="col-sm-3">Employees</dt>
            <dd class="col-sm-9">{{ entry.employees }}</dd>
            {% endif %}
        </dd>
</div>
{% endif %}
