<div class="col d-flex align-items-start mb-4">
    <div class="icon-square me-3">
        <h2><i class="fas fa-city" alt="Subunit"></i></h2>
    </div>
    <div class="w-100">
        <h2>{{ entry.name }} <small class="fs-6 mx-4 text-muted">({{ entry.uid }})</small></h2>
    </div>
    <div>
        {% include "view/elements/review_actions.html" %}
    </div>
</div>

<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-4"><h5>General Information</h5></dt>
        <dd class="col-sm-9 mb-4">{% include "view/elements/entry_status.html" %}</dd>
        <dt class="col-sm-3 mb-4">Subunit of</dt>
        <dd class="col-sm-9 mb-4"><a href="{{ url_for('view.view_country', unique_name=entry.country[0].unique_name) }}">{{ entry.country[0].name }}</a></dd>
        {% if entry.other_names %}
        <dt class="col-sm-3">Also known as</dt>
        <dd class="col-sm-9">{{ ", ".join(entry.other_names) }}
        </dd>{% endif %} {% if entry.wikidataID %}
        <dt class="col-sm-3">Wikidata</dt>
        <dd class="col-sm-9"><a href="https://www.wikidata.org/wiki/Q{{ entry.wikidataID }}" target="_blank">Q{{ entry.wikidataID }}</a>
        </dd>{% endif %}
    </dl>
</div>

<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-4"><h5>Summary</h5></dt>
        <dd class="col-sm-9 mb-4"><small class="text-muted">Shows how many of the sources and organizations listed in this inventory are associated with this subunit.</small></dd>
        <dt class="col-sm-3">Sources</dt>
        <dd class="col-sm-9"><a href="{{ url_for('view.advanced_query') }}">{{ entry.num_sources }}</a></dd>
        <dt class="col-sm-3">Organizations</dt>
        <dd class="col-sm-9"><a href="{{ url_for('view.advanced_query') }}">{{ entry.num_orgs }}</a>
        </dd>
    </dl>
</div>