<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-4"><h5>General Information</h5></dt>
        <dd class="col-sm-9 mb-4">{% include "view/elements/entry_status.html" %}
            {% if entry.defunct %}
                <span class="badge bg-warning text-dark" data-bs-toggle="tooltip" data-bs-placement="top" 
                {% if 'Source' in entry['dgraph.type'] %}
                title="This news source is no longer actively publishing">
                {% elif 'Tool' in entry['dgraph.type'] %}
                title="This tool is no longer available or ended its lifecycle">
                {% else %}
                title="This resource is no longer active or available"
                {% endif %}
                Defunct
                </span>
            {% endif %}
        </dd>
        {% if entry.title %}
        <dt class="col-sm-3">Full Title</dt>
        <dd class="col-sm-9"><h5>{{ entry.title  }}</h5></dd>
        {% endif %} 
        {% if entry.authors %}
        <dt class="col-sm-3">Author(s)</dt>
        <dd class="col-sm-9"><h6>
            {% if entry.authors is string %}
                {{ entry.authors }}
            {% else %}
                <ul class="list-inline">
                {% for author in entry.authors%}
                    <li class="list-inline-item {{ 'ps-2 border-start' if not loop.first else '' }}">{{author}}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </h6>
        {% endif %}
        {% if entry.other_names %}
        <dt class="col-sm-3">Also known as</dt>
        <dd class="col-sm-9">{{ ", ".join(entry.other_names) }}
        </dd>
        {% endif %} 
        {% if entry.published_date %}
        <dt class="col-sm-3">Published</dt>
        <dd class="col-sm-9">{{ entry.published_date.strftime('%Y') }}
        </dd>
        {% endif %}
        {% if entry.description %}
        <dt class="col-sm-3">Description
            {% if entry.description|length > 160 %}
                <a href="#" class="link-secondary fw-normal mx-2" data-bs-toggle="button" onclick="document.getElementById('description-trunc').classList.toggle('text-truncate')">show more</a>
            {% endif %}
        </dt>
        <dd class="col-sm-9">
            <div class="{% if entry.description|length > 160 %}text-truncate{% endif %}" id='description-trunc'>
                {{ entry.description }}
            </div>
        </dd>
        {% endif %} 
        {% if entry.is_person %}
        <dt class="col-sm-3">Is a person</dt>
        <dd class="col-sm-9">{{ entry.is_person }}
        </dd>{% endif %}
        {% if entry.channel %}
        <dt class="col-sm-3">Channel</dt>
        <dd class="col-sm-9"><a href="{{ url_for('view.view_generic', dgraph_type='Channel', unique_name=entry.channel.unique_name) }}">{{entry.channel.name}}</a> </dd>
        {% endif %}
        {% if entry.channel_url %} 
        <dt class="col-sm-3">Link to Source</dt>
        <dd class="col-sm-9">
                {% if entry.channel.unique_name == 'twitter' %}
                <a target="_blank" class="external-link" href="https://twitter.com/{{ entry.channel_url }}">
                    https://twitter.com/{{ entry.channel_url }}
                {% elif entry.channel.unique_name == 'instagram' %}
                <a target="_blank" class="external-link" href="https://instagram.com/{{ entry.channel_url }}">
                    https://instagram.com/{{ entry.channel_url }}
                {% elif entry.channel.unique_name == 'website' %}
                <a target="_blank" class="external-link" href="{{ entry.channel_url }}">
                    {{ entry.channel_url }}
                {% elif entry.channel.unique_name == 'facebook' %}
                <a target="_blank" class="external-link" href="https://facebook.com/{{ entry.channel_url }}">
                    https://facebook.com/{{ entry.channel_url }}
                {% elif entry.channel.unique_name == 'vkontakte' %}
                <a target="_blank" class="external-link" href="https://vk.com/{{ entry.channel_url }}">
                    https://vk.com/{{ entry.channel_url }}
                {% elif entry.channel.unique_name == 'telegram' %}
                    <a target="_blank" class="external-link" href="https://t.me/{{ entry.name }}">
                    https://t.me/{{ entry.name }}
                {% endif %}
                </a>
                </dd>
        {% endif %}
        {% if 'verified_account' in entry.keys() %}
        <dt class="col-sm-3">Verified Account</dt>
        <dd class="col-sm-9">{% if entry.verified_account %}Yes{% else %}No{% endif %}</dd>
        {% endif %}
        {% if 'Subunit' in entry['dgraph.type'] %}
        <dt class="col-sm-3 mb-4">Subunit of</dt>
        <dd class="col-sm-9 mb-4"><a href="{{ url_for('view.view_generic', dgraph_type='Country', unique_name=entry.country[0].unique_name) }}">{{ entry.country[0].name }}</a></dd>
        {% endif %}
        {% if entry.wikidataID %}
        <dt class="col-sm-3">Wikidata</dt>
        <dd class="col-sm-9"><a href="https://www.wikidata.org/wiki/Q{{ entry.wikidataID }}" target="_blank" class="external-link">Q{{ entry.wikidataID }}</a>
        </dd>
        {% endif %}
        {% if entry.founded %}
        <dt class="col-sm-3">Founded</dt>
        <dd class="col-sm-9">{{ entry.founded.strftime('%Y') }}
        </dd>
        {% endif %} 
        {% if entry.transcript_kind %}
        <dt class="col-sm-3">Transcript</dt>
        <dd class="col-sm-9">{{ entry.transcript_kind }}</dd>
        {% endif %}
        {% if entry.paper_kind %}
        <dt class="col-sm-3">Kind</dt>
        <dd class="col-sm-9">{{ entry.paper_kind }}</dd>
        {% endif %} 
        {% if entry.journal %}
        <dt class="col-sm-3">Journal</dt>
        <dd class="col-sm-9">{{ entry.journal }}</dd>
        {% endif %} 
        {% if entry.url %}
            <dt class="col-sm-3">URL</dt>
            <dd class="col-sm-9"><a href="{{ entry.url }}" target="_blank" class="external-link">{{ entry.url }}</a></dd>
        {% endif %}
        {% if entry.doi %}
            <dt class="col-sm-3">DOI</dt>
            <dd class="col-sm-9">
                <a href="https://doi.org/{{ entry.doi }}" target="_blank" class="external-link">{{ entry.doi }}</a>
                <div class="row mt-3">
                <div class="col-1">
                    <span class="__dimensions_badge_embed__" data-doi="{{ entry.doi }}" data-hide-zero-citations="true" data-style="small_circle"></span><script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
                </div>
                <div class="col-1">
                    <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
                    <div data-badge-popover="right" data-badge-type="donut" data-doi="{{ entry.doi }}" data-hide-no-mentions="true" class="altmetric-embed"></div>
                </div>
                </div>
            </dd>
        {% endif %}
        {% if entry.arxiv %}
            <dt class="col-sm-3">arXiv</dt>
            <dd class="col-sm-9"><a href="https://arxiv.org/abs/{{ entry.arxiv }}" target="_blank" class="external-link">{{ entry.arxiv }}</a></dd>
        {% endif %}
        {% if entry.cran %}
            <dt class="col-sm-3">CRAN</dt>
            <dd class="col-sm-9"><a href="https://cran.r-project.org/package={{ entry.cran }}" target="_blank" class="external-link">{{ entry.cran }}</a></dd>
        {% endif %}
        {% if entry.pypi %}
            <dt class="col-sm-3">PyPi</dt>
            <dd class="col-sm-9"><a href="https://pypi.org/project/{{ entry.pypi }}" target="_blank" class="external-link">{{ entry.pypi }}</a></dd>
        {% endif %}
        {% if entry.github %}
            <dt class="col-sm-3">GitHub</dt>
            <dd class="col-sm-9"><a href="https://github.com/{{ entry.github }}" target="_blank" class="external-link">{{ entry.github }}</a></dd>
        {% endif %}
    </dl>
</div>