<div class="border rounded py-3 mt-4">
    <span  class="d-flex px-3 my-2 pb-2 mx-1 border-bottom">
        <h5 class="flex-grow-1">Ownership Structure</h5>
        <i class="fas mx-1 fa-info-circle text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Current entry is highlighted in orange. Use mouse wheel or pinch to zoom. You can also pan around and click on nodes to get to their entries. Media organizations and persons are purple."></i>
    
    </span>
    
<script>

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    const csrftoken = "{{ csrf_token() }}";
    const data = { uid: "{{ entry.uid }}" };
    $ENDPOINT = "{{ url_for( 'endpoint.ownership' ) }}"

</script>
<script src="{{ url_for('static', filename='js/d3.v7.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/networkplot.js') }}"></script>


<div id="network-plot">
</div>

<script>
    MakeNetworkPlot(data, $ENDPOINT, 'network-plot')
</script>

 
</div>
