{% extends "layout.html" %} {% block content %}


<div class="content-section pt-4">
    <div class="row">
        <div class="col-8">
            {% from "helpers/_formhelpers.html" import render_field %}
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group mb-3">
                    <legend class="border-bottom mb-4">{{ title }}</legend>
                    {% for field in fields %} {{ render_field(form.get_field(field)) }} {% endfor %}
                </fieldset>
                <div class="form-group mb-3">
                    {{ form.submit(class="btn btn-success my-4") }}
                </div>
            </form>
        </div>
    </div>
</div>

{% include "helpers/_tomselect.html" %} {% endblock content %} {% block sidebar %} {% endblock sidebar %}