<div class="d-flex flex-column align-items-stretch bg-white">
    {% if sidebar_items.get('autofill') %}
    <div href="#" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">Magically fill in the form</span>
    </div>
    <div class="list-group list-group-flush border-bottom scrollarea p-3">

        <p>
            If you provide a DOI, arXiv, Python module, or R-Package name, the inventory tries to get some data automatically!
        </p>

        <div class="row">
            <div class="col-4">
                <select class="form-select" id="magic-platform">
                                <option selected disabled>choose...</option>
                                <option value="arxiv">arXiv</option>
                                <option value="cran">CRAN</option>
                                <option value="doi">DOI</option>
                                <option value="python">Python</option>
                              </select>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" placeholder="identifier or package name..." id="magic-identifier">
            </div>
        </div>

        <div class="row my-2 justify-content-end">
            <div class="col-5">
                <div class="form-group mb-3">
                    <button id="magic" class="btn btn-success w-100" onclick="fetchMetaData(this)">
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" hidden></span>
                                <i id="magic-wand" class="fa fa-magic me-2"></i>
                                <span class="button-loading" hidden>Loading...</span>
                                <span class="button-text">Magic!</span>
                            </button>
                </div>
            </div>
        </div>
        <div id="magic-error-container" class="row" hidden>
            <p class="text-danger">There was an error when we tried to fetch the data from an API. Could you please check very carefully the DOI, arXiv, or package name? After you checked, please try again.
            </p>
            <p class="text-danger">
                Please also note that it does not always work smoothly and the APIs that we use here are out of our control.</p>
        </div>
        <script src="{{ url_for('static', filename='js/external_apis.js') }}"></script>
    </div>
    {% endif %}


</div>