<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-4"><h5>Sources included</h5></dt>
        <dd class="col-sm-9 mb-4"><small class="text-muted">Shows which sources where studied in this publication.</small></dd>
        <dt class="col-sm-3"></dt>
        <dd class="col-sm-9">
            {% for source in entry.sources_included %}
            <p class="card-text">
                <a href="{{ url_for('view.view_generic', dgraph_type='Source', unique_name=source.unique_name) }}">
                {{source.name}} ({{source.channel.name}})</a> {% if source.get('sources_included|from') %}
                <span class="text-muted mx-3">
                            from: {{ source.get('sources_included|from').strftime('%Y-%m-%d') }}
                        </span> {%endif%} {% if source.get('sources_included|to') %}
                <span class="text-muted mx-3">
                            to: {{ source.get('sources_included|to').strftime('%Y-%m-%d') }}
                        </span> {%endif%} {% endfor %}
        </dd>
    </dl>
</div>
{% from "helpers/_viewhelpers.html" import render_publication %}
{% if entry.corpus_used %} 
<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-4"><h5>Corpora</h5></dt>
        <dd class="col-sm-9 mb-4"><small class="text-muted">This publication used the following corpora.</small></dd>
        <dt class="col-sm-3"></dt>
        <dd class="col-sm-9 mb-4">
        {% if entry.corpus_used %} 
            {% for corp in entry.corpus_used %}
                <p>{{ render_publication(corp) }}</p>
            {% endfor %}
        {% endif %}
        </dd>
    </dl>
</div>
{% endif %}
{% if entry.datasets_used %} 
<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-4"><h5>Datasets</h5></dt>
        <dd class="col-sm-9 mb-4"><small class="text-muted">This publication used the following dataset(s).</small></dd>
        <dt class="col-sm-3 mb-4"></dt>
        <dd class="col-sm-9 mb-4">
            {% for dataset in entry.datasets_used %}
            <p>{{ render_publication(dataset) }}</p>
            {% endfor %}
        </dd>
    </dl>
</div>
{% endif %}
{% from "helpers/_viewhelpers.html" import render_tags, render_publication %}
<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-4"><h5>Research</h5></dt>
        <dd class="col-sm-9 mb-4"><small class="text-muted"></small></dd>
        {% if entry.text_units %}
        <dt class="col-sm-3">Text Units</dt>
        <dd class="col-sm-9">
            {{ render_tags(entry.text_units) }}
        </dd>
        {% endif %}
    </dl>
</div>