
<script>

    {% if 'other_names' in fields %}
    var TomSelectOtherNamesConfig = {
        plugins: ['remove_button'],
        selectOnTab: true,
        create: true,
        render: {
            no_results:function(data,escape){
                return '<div></div>';
        }
        }
    };
    
    new TomSelect('#other_names', TomSelectOtherNamesConfig);
    {% endif %}
    
    {% if 'publishes' in fields %}
    var TomSelectPublishesConfig = {
            plugins: ['remove_button'],
            valueField: 'uid',
            labelField: 'name',
            searchField: 'name',
            delimiter: ',',
            selectOnTab: true,
            load: function(query, callback) {
                if ( query.length < 3 ) return callback();
                var url = '{{ url_for("endpoint.sourcelookup") }}?q=' + encodeURIComponent(query);
                fetch(url)
                .then(response => response.json())
                .then(json => {
                    callback(json.data);
                }).catch(() => {callback();});
            },
            render: {
                option: function(data, escape) {
                    var channel_label = ' '
                    if (data.channel) {
                        if (data.channel.name) {
                        channel_label = ' (' + escape(data.channel.name) + ') '
                        }
                    };
                    var country_label = ' '
                    if ("country" in data) {
                        country_label = '<small class="text-muted mx-1"> (' + escape(data.country[0].name) + ')</small>'
                    }
                    return '<div>' +
                            '<span class="title">' + escape(data.name) + channel_label + '</span> ' +
                            country_label +
                        '</div>';
                },
                item: function(data, escape) {
                    var channel_label = ' '
                    if (data.channel) {
                        if (data.channel.name) {
                            var channel_label = ' (' + escape(data.channel.name) + ') '
                        }
                    };
                    var country_label = ' '
                    if ("country" in data) {
                        country_label = '<small class="text-muted mx-1"> (' + escape(data.country[0].name) + ')</small>'
                    }
                    return '<div>' + escape(data.name) + channel_label + country_label + '</div>';
                }
            }
        };
    new TomSelect('#publishes', TomSelectPublishesConfig);
    {% endif %}
    
    {% if 'owns' in fields %}
    
    var TomSelectOrganisationConfig = {
            plugins: ['remove_button'],
            valueField: 'uid',
            labelField: 'name',
            searchField: 'name',
            delimiter: ',',
            selectOnTab: true,
            // createFilter: function(input) { return input.length >= 3 },
            load: function(query, callback) {
                if ( query.length < 3 ) return callback();
                var url = '{{ url_for("endpoint.orglookup") }}?q=' + encodeURIComponent(query);
                fetch(url)
                .then(response => response.json())
                .then(json => {
                    callback(json.data);
                }).catch(() => {callback();});
            },
            render: {
                option: function(data, escape) {
                    var country_label = ' '
                    if ('country' in data) {
                        country_label = ' (' + escape(data.country[0].name) + ') '
                    };
                    return '<div>' +
                            '<span class="title">' + escape(data.name) + '</span>' +
                            '<small class="text-muted mx-1">' + country_label + '</small>' +
                        '</div>';
                },
                item: function(data, escape) {
                    var country_label = ' '
                    if ('country' in data) {
                        country_label = ' (' + escape(data.country[0].name) + ') '
                    };
                    return '<div>' + escape(data.name) + ' <small class="mx-1">' + country_label + '</small></div>';
                }
            },
            onItemAdd:function(){ // clear input after item was selected
                this.setTextboxValue();
                this.refreshOptions();
            }
        };
        new TomSelect('#owns', TomSelectOrganisationConfig);
    
    {% endif %}
    
    {% if 'related' in fields or 'sources_included' in fields %}
    
    {% if 'related' in fields %}
    var relatedSelector = '#related'
    {% elif 'sources_included' in fields %}
    var relatedSelector = '#sources_included'
    {% endif %}
    
    
    var TomSelectRelatedSourcesConfig = {
        plugins: ['remove_button'],
        valueField: 'uid',
        labelField: 'name',
        searchField: 'name',
        delimiter: ',',
        selectOnTab: true,
        onItemAdd: function(input) { 
            // clear input after item was selected
            this.setTextboxValue();
            this.refreshOptions();
        },
        load: function(query, callback) {
            if ( query.length < 3 ) return callback();
            var url = '{{ url_for("endpoint.sourcelookup") }}?q=' + encodeURIComponent(query);
            fetch(url)
            .then(response => response.json())
            .then(json => {
                callback(json.data);
            }).catch(() => {callback();});
        },
        render: {
            option: function(data, escape) {
                var channel_label = ' '
                if (data.channel) {
                    if (data.channel.name) {
                    channel_label = ' (' + escape(data.channel.name) + ') '
                    }
                };
                var country_label = ' '
                if ("country" in data) {
                    country_label = '<small class="text-muted mx-1"> (' + escape(data.country[0].name) + ')</small>'
                }
                return '<div>' +
                        '<span class="title">' + escape(data.name) + channel_label + '</span> ' +
                        country_label +
                    '</div>';
            },
            item: function(data, escape) {
                var channel_label = ' '
                if (data.channel) {
                    if (data.channel.name) {
                        var channel_label = ' (' + escape(data.channel.name) + ') '
                    }
                };
                var country_label = ' '
                if ("country" in data) {
                    country_label = '<small class="text-muted mx-1"> (' + escape(data.country[0].name) + ')</small>'
                }
                return '<div>' + escape(data.name) + channel_label + country_label + '</div>';
            }
        }
    };
    new TomSelect(relatedSelector, TomSelectRelatedSourcesConfig);
    
    {% endif %}
    
    {% if 'country' in fields %}
    
    var TomSelectCountriesConfig = {
        plugins: ['remove_button'],
        selectOnTab: true,
        onItemAdd:function(){ // clear input after item was selected
            this.setTextboxValue();
            this.refreshOptions();
        }
    };

    var TomSelectCountryConfig = {
        selectOnTab: true,
        onItemAdd:function(){ // clear input after item was selected
            this.setTextboxValue();
            this.refreshOptions();
        }
    };

    var countryField = document.getElementById('country')
    if (countryField.hasAttribute('multiple')) {
        new TomSelect('#country', TomSelectCountriesConfig);
    } else {
        new TomSelect('#country', TomSelectCountryConfig);
    }
    
    
    {% endif %}
    
    
    {% if 'geographic_scope_subunit' in fields %}
    
    var TomSelectSubunitConfig = {
        plugins: ['remove_button'],
        selectOnTab: true,
        create: true,
        onInitialize: function() { // hacky way of forcing the field to be not-validated on load
            this.input.classList.remove('is-invalid');
            this.input.removeAttribute("aria-invalid");
        },
        onChange: function(){ // invoke validation on change
            setFieldValidity(this.input);
        },
        onItemAdd:function(){ // clear input after item was selected
            this.setTextboxValue();
            this.refreshOptions();
        }
    };
    
    new TomSelect('#geographic_scope_subunit', TomSelectSubunitConfig);
    
    {% endif %}
    
    {% if 'languages' in fields %}
    var TomSelectLanguagesConfig = { 
        plugins: ['remove_button'],
        selectOnTab: true,
        onItemAdd:function(){ // clear input after item was selected
            this.setTextboxValue();
            this.refreshOptions();
        }
    };
    
    new TomSelect('#languages', TomSelectLanguagesConfig)
    {% endif %}
    
    {% if 'publication_kind' in fields %}
    
    new TomSelect('#publication_kind', {create: true, plugins: ['remove_button']})
    
    {% endif %}
    
    
    {% if 'topical_focus' in fields %}
    
    new TomSelect('#topical_focus', {create: true, plugins: ['remove_button']})
    
    
    {% endif %}
    
    
    {% if 'publication_cycle_weekday' in fields %}
    
    new TomSelect('#publication_cycle_weekday', {plugins: ['remove_button', 'checkbox_options']})
    
    {% endif %}
    

    {% if 'authors' in fields %}
    
    new TomSelect('#authors', {create: true, plugins: ['remove_button'], delimiter: ';'})
    
    {% endif %}


    {% if 'platform' in fields %}
    
    new TomSelect('#platform', {plugins: ['remove_button']})
    
    {% endif %}


    {% if 'programming_languages' in fields %}
    
    new TomSelect('#programming_languages', {plugins: ['remove_button']})
    
    {% endif %}



    {% if 'used_for' in fields %}
    
    new TomSelect('#used_for', {create: true, plugins: ['remove_button']})
    
    {% endif %}


    {% if 'channels' in fields %}
    
    new TomSelect('#channels', {create: true, plugins: ['remove_button']})
    
    {% endif %}

    {% if 'input_file_format' in fields %}
    
    new TomSelect('#input_file_format', {create: true, plugins: ['remove_button']})
    
    {% endif %}


    {% if 'output_file_format' in fields %}
    
    new TomSelect('#output_file_format', {create: true, plugins: ['remove_button']})
    
    {% endif %}


    {% if 'input_data' in fields %}
    
    new TomSelect('#input_data', {create: true, plugins: ['remove_button']})
    
    {% endif %}


    {% if 'output_data' in fields %}
    
    new TomSelect('#output_data', {create: true, plugins: ['remove_button']})
    
    {% endif %}

    {% if 'validation_corpus' in fields %}
    
    new TomSelect('#validation_corpus', {create: true, plugins: ['remove_button']})
    
    {% endif %}


    {% if 'materials' in fields %}

    var materialsContainer = document.getElementById('materials').parentElement

    function createMaterialsField(materialURL) {
                var row = document.createElement('div')
                row.classList.add('row', 'my-3', 'align-items-center')
                row.id = 'container-' + materialURL
                var label = document.createElement('label')
                label.classList.add('col', 'form-label')
                label.setAttribute('for', materialURL + '@kind')
                label.innerText = materialURL;
                row.append(label)
                var col = document.createElement('div');
                col.classList.add('col');
                var description = document.createElement('p')
                description.classList.add('fw-bold', 'fs-6', 'mb-1')
                description.innerText = 'Please specify what kind of resource it is'
                var input = document.createElement('input')
                input.classList.add('form-control')
                input.setAttribute('name', materialURL + '@kind')
                input.setAttribute('placeholder', 'e.g. FAQ, Manual, Tutorial, Website, etc')

                // append elements
                col.append(description)
                col.append(input);
                row.append(col)

                // append to container
                materialsContainer.append(row)

            } 

    var TomSelectMaterialsConfig= {
        plugins: ['remove_button'],
        create: true,
        selectOnTab: true,
        onItemAdd: function(input) {
            // clear input after item was selected
            this.setTextboxValue();
            this.refreshOptions();
            createMaterialsField(input)
        },
        onItemRemove: function(values) {
            let el = document.getElementById('container-' + values)
            el.remove()
        }
    };    
    new TomSelect('#materials', TomSelectMaterialsConfig)
    
    {% endif %}

    {% if 'related_publications' in fields %}
    
    new TomSelect('#related_publications', {create: true, plugins: ['remove_button']})
    
    {% endif %}



    </script>