{% extends "layout.html" %} {% block content %}
<article>

<div class="row justify-content-between mb-4">
    <div class='col-4'>
        <h1>Review Mode</h1>
    </div>
    <div class="col-4">
        <form method="POST" action="{{ url_for('review.submit') }}">
            {{ review_actions.hidden_tag() }}
            <div class="btn-group" role="group" aria-label="Review Actions">
                {{ review_actions.reject(class="btn btn-danger") }}
                {{ review_actions.edit(class="btn btn-warning") }}
                {{ review_actions.accept(class="btn btn-success") }}
            </div>
            
        </form>
    </div>
</div>

{% if dgraphtype == 'Source' %}
    {% include "view/elements/detail_source.html" %}
{% endif %}

{% if dgraphtype == 'Organization' %}
    {% include "view/elements/detail_organization.html" %}
{% endif %}

{% if dgraphtype == 'Archive' %}
    {% include "view/elements/detail_archive.html" %}
{% endif %}

{% if dgraphtype == 'Dataset' %}
    {% include "view/elements/detail_archive.html" %}
{% endif %}

{% if dgraphtype == 'Subunit' %}
    {% include "view/elements/detail_subunit.html" %}
{% endif %}

{% if dgraphtype == 'ResarchPaper' %}
    {% include "view/elements/detail_paper.html" %}
{% endif %}


</article>
{% endblock content %}
{% if dgraphtype == 'Source' %}
{% block sidebar %} 
    {% include "view/source_sidebar.html" %} 
{% endblock sidebar %}
{% endif %}
