{% extends "layout.html" %} {% block content %}


<div class="content-section pt-4">
    <div class="row justify-content-center">
        <div class="col-6">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group mb-3">
                    <legend class="border-bottom mb-4">Change Password</legend>
                    <div class="form-floating mb-3">
                        {% if form.old_password.errors %} {{ form.old_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.old_password.errors %}
                            <span>{{ error }}</span> {% endfor %}
                        </div>
                        {% else %} {{ form.old_password(class="form-control form-control-lg", placeholder="secret") }} {% endif %} {{ form.old_password.label() }}
                    </div>
                    <div class="form-floating mb-3">
                        {% if form.new_password.errors %} {{ form.new_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.new_password.errors %}
                            <span>{{ error }}</span> {% endfor %}
                        </div>
                        {% else %} {{ form.new_password(class="form-control form-control-lg", placeholder="secret") }} {% endif %} {{ form.new_password.label() }}
                    </div>
                    <div class="form-floating mb-3">
                        {% if form.confirm_password.errors %} {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span> {% endfor %}
                        </div>
                        {% else %} {{ form.confirm_password(class="form-control form-control-lg", placeholder="secret") }} {% endif %} {{ form.confirm_password.label() }}
                    </div>

                </fieldset>
                <div class="form-group mb-3">
                    {{ form.submit(class="btn btn-outline-info my-4") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %} {% block sidebar %} {% endblock sidebar %}