{% extends "layout.html" %} {% block content %}

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Invite new User</legend>
            <div class="form-floating mb-3">
                {% if form.email.errors %} {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.email(class="form-control form-control-lg", placeholder="email@example.com") }} {% endif %} {{ form.email.label() }}

            </div>
        </fieldset>
        <div class="form-group mb-3">
            {{ form.submit(class="btn btn-primary my-4") }}
        </div>
    </form>
    <div class="border-top pt-3">

    </div>
</div>

{% endblock content %} {% block sidebar %} {% include "users/profile_sidebar.html" %} {% endblock sidebar %}