{% extends "layout.html" %} {% block content %}

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-floating">
            <legend class="border-bottom mb-4">Log In</legend>
            <div class="form-floating mb-3">
                {% if form.email.errors %} {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.email(class="form-control form-control-lg", placeholder="name@example.com") }} {% endif %} {{ form.email.label() }}
            </div>

            <div class="form-floating mb-3">
                {% if form.password.errors %} {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.password(class="form-control form-control-lg", placeholder="secret") }} {% endif %} {{ form.password.label() }}
            </div>
            <div class="form-check mb-3">
                {{ form.remember(class="form-check-input") }} {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group mb-3">
            {{ form.submit(class="btn btn-primary me-4") }}
            <small class="text-muted my-2 pb-2">
                <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
            </small>
        </div>

    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
        Need an Account? <a class="ml-2" href="{{ url_for('users.register') }}">Sign Up</a>
    </small>

    </div>
</div>

{% endblock content %}