<div class="" style="width: 380px;">
    <span  class="d-flex py-1">
        <h5 class="flex-grow-1">Tasks</h5>
    </span>
    
    <div class="list-group">
        <a href="{{ url_for('users.my_entries', uid=current_user.id) }}" type="button" class="list-group-item list-group-item-action">
            <i class="fas fa-tasks me-3 fa-fw"></i>My Entries
        </a>
        <a href="{{ url_for('add.new_entry') }}" type="button" class="list-group-item list-group-item-action">
            <i class="fas fa-plus-circle me-3 fa-fw"></i>Add new entry
        </a>
        {% if current_user.user_role >= 2 %}
        <a href="{{ url_for('review.overview') }}" type="button" class="list-group-item list-group-item-action"><i class="fas fa-glasses me-3 fa-fw"></i>Review Entries</a>
        {% endif %}

        {% if current_user.user_role >= 2 %}
        <a href="{{ url_for('users.invite') }}" type="button" class="list-group-item list-group-item-action"><i class="fas fa-envelope-open-text me-3 fa-fw"></i>Invite New User</a>
        {% endif %}
        
        {% if current_user.user_role >= 10 %}
        <a href="{{ url_for('users.admin_view') }}" type="button" class="list-group-item list-group-item-action"><i class="fas fa-users-cog me-3 fa-fw"></i>Change User Permissions</a>
        {% endif %}
    </div>
</div>