{% extends "layout.html" %} {% block content %}

<div class="content-section pt-4">
<div class="row justify-content-center">
<div class="col-6">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-floating">
            <legend class="border-bottom mb-4">Join Today</legend>
            <div class="form-floating mb-3">
                {% if form.email.errors %} 
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.email(class="form-control form-control-lg", placeholder="name@example.com") }} 
                {% endif %}
                {{ form.email.label() }} 
            </div>
        
            <div class="form-floating mb-3">
                {% if form.password.errors %} 
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} 
                {{ form.password(class="form-control form-control-lg", placeholder="secret") }} 
                {% endif %}
                <small class="text-muted mx-1">Minimum length 6 characters</small>
                {{ form.password.label() }} 

            </div>
            <div class="form-floating mb-3">
                {% if form.confirm_password.errors %} 
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} 
                {{ form.confirm_password(class="form-control form-control-lg", placeholder="secret") }} 
                {% endif %}
                {{ form.confirm_password.label() }} 

            </div>
        </fieldset>
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Data Privacy (summary)</h4>
            <p> This platform respects the General Data Protection Regulation (GDPR, in German: Datenschutzgrundverordnung, DSGVO).</p>
            <p>We save your email address and IP address locally on this server (hosted in the EU). Your data is not shared with third parties and retained until you decide to delete your account. Your email address is used for technical purposes (e.g. login). We reserve the right to process your IP address for creating anonymous usage statistics.</p>
            <p><strong>By creating an account you agree that we store your email address and IP address.</strong></p>
            <hr>

            <h4 class="alert-heading">Informed Consent</h4>
            <p><strong>By creating an account you confirm that you have read and acknowledged the <a class="alert-link" href="{{ url_for('main.privacy') }}" target="_blank">consent statement</a></strong></p>
            <hr>
            <p><em>You can read the full statements regarding data privacy and informed consent <a class="alert-link" href="{{ url_for('main.privacy') }}" target="_blank">here</a>.</em></p>
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary my-4") }}
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
        Already Have an Account? <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
    </small>
    </div>
</div>
</div>
</div>

{% endblock content %}