{% extends "layout.html" %} {% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group mb-3">
            <legend class="border-bottom mb-4">Update User {{ user.email }} {{ user.uid }}</legend>
            <div class="mb-3">
                {{ form.user_role.label(class='form-label') }} {% if form.user_role.errors %} {{ form.user_role(class="form-select form-select-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.user_role.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.user_role(class="form-select form-select-lg") }} {% endif %}
            </div>
            <div class="form-floating mb-3">
                {% if form.user_displayname.errors %} {{ form.user_displayname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.user_displayname.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.user_displayname(class="form-control form-control-lg", placeholder="{{ current_user.displayname }}") }} {% endif %} {{ form.user_displayname.label() }}
            </div>

        </fieldset>
        <div class="form-group mb-3">
            {{ form.submit(class="btn btn-outline-info my-4") }}
        </div>
    </form>
</div>
{% endblock content %} {% block sidebar %} {% endblock sidebar %}