
<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-4"><h5>Audience</h5></dt>
        <dd class="col-sm-9 mb-4"><small class="text-muted"></small></dd>
        {% if entry.audience_size %}
        <dt class="col-sm-3">Audience Size</dt>
        <dd class="col-sm-9">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    {% if entry.get('audience_size|data_from') or entry.get('audience_size|datafrom') %}
                        <th>Data from</th>
                    {% endif %}
                    {% if entry.get('audience_size|unit') %}
                        <th>{{entry.get('audience_size|unit')['0']|title }}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for data in entry.audience_size %}
                    <tr>
                        <td>{{data.strftime('%Y-%m-%d')}}</td>
                        {% if entry.get('audience_size|data_from')[loop.index0|string] or entry.get('audience_size|datafrom')[loop.index0|string] %}
                        <td>
                            <a href="{{ entry.get('audience_size|data_from')[loop.index0|string] or entry.get('audience_size|datafrom')[loop.index0|string] }}" target="_blank">source</a>
                        </td>
                        {% endif %}
                        {% if entry.get('audience_size|count') %}
                        <td>{{ "{0:,}".format(entry.get('audience_size|count')[loop.index0|string] | int) }}</td>
                        {% endif %}
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>
        </dd>
        {% endif %} 
        {% if entry.audience_residency %}
        <dt class="col-sm-3">Audience Residency</dt>
        <dd class="col-sm-9"> {{ entry.audience_residency_table }}</dd> {% endif %}
    </dl>
</div>