{% extends "layout.html" %} {% block content %}


<form id="get-geocode" name="get-geocode">
  <div class="mb-3 row">
  <div class="col-4">
    <label for="address-input" class="form-label">Address</label>
    <input type="text" class="form-control" id="address-input" aria-describedby="address" onkeyup="doDelayedSearch(this.value)" >
    <div id="address-description" class="form-text">Enter an address and see the coordinates below</div>
  </div>
  </div>
</form>
<div class="mb-3 row">
  <div class="col-4">
<div class="d-flex align-items-center">
  <strong id='result'></strong>
    <div id="loading-spinner" class="spinner-border ms-auto" role="status" aria-hidden="true"></div>

</div>
</div>
</div>

<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var csrftoken = "{{ csrf_token() }}";

    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
        }
    });
    var $loading = $('#loading-spinner').hide();
    var $result_field = $("#result");
    $(document)
    .ajaxStart(function () {
        $loading.show();
        $result_field.html('Loading...')
    })
    .ajaxStop(function () {
        $loading.hide();
    });
    var timeout = null;

    function doDelayedSearch(val) {
        if (timeout) {  
            clearTimeout(timeout);
        }
        timeout = setTimeout(function() {
            searchAddress(val);
        }, 500);
        };

    function searchAddress(val){$.ajax({
        url: '/external/geocode',
        type: 'POST',
        data: {'address': val},
        success : function(res){
            console.log(res);
            $result_field.html(res.content.coordinates.toString());
            $loading.hide();
        },
        error : function(error){
            console.log(error, "Error in submit")
        }
    });
};

$.get

</script>
 {% endblock content %}