<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img class="bi me-2" height="40" src="{{ url_for('static', filename='opted_logo_stylized_blue.svg') }}">
            <span class="fs-4">WP3 Inventory</span>
            <span class="text-muted ps-4 fs-6">v{{ config.get('APP_VERSION') }}</span>
        </a>
        <var id="result-container" class="result-container"></var>

        <form class="w-50" id="search-everything" name="search-everything" method="GET" action="{{ url_for('inventory.search') }}">
            <div class="typeahead__container">
                <div class="">
                    <div class="typeahead__query input-group">
                        <input class="search-everything form-control" name="query" placeholder="Search everything..." autocomplete="off">
                        <button class="btn btn-outline-success" type="submit"> <i class="fas fa-search"></i>
                    </button>
                    </div>
                    {#
                    <div class="search__everything__button"> #} {# <i class="typeahead__search-icon"></i> #} {# </div> #}
                </div>
            </div>
        </form>
        <ul class="nav nav-pills">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.under_development') }}" tabindex="-1"><i class="fas fa-plus-circle me-2"></i>Add Entry</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user me-2"></i>Tasks
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="{{ url_for('users.profile') }}" tabindex="-1"><i class="fas fa-id-badge me-2 fa-fw"></i>Profile</a></li>
                    {% if current_user.user_role >= 2 %}
                    <li><a class="dropdown-item" href="#"><i class="fas fa-glasses me-2 fa-fw"></i>Review Entries</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('users.invite') }}"><i class="fas fa-envelope-open-text me-2 fa-fw"></i>Invite New User</a></li>
                    {% endif %}

                    <li><a class="dropdown-item" href="{{ url_for('users.logout') }}"><i class="fas fa-power-off me-2 fa-fw"></i>Logout</a></li>
                </ul>
            </li>
            {% else %}


            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users.login') }}" tabindex="-1">Login</a>
            </li>
            {% endif %}
        </ul>

    </header>
</div>