<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img class="bi me-2" height="40" src="{{ url_for('static', filename='opted_logo_stylized_blue.svg') }}">
            <span class="fs-4 header-branding-serif">Meteor <br>
                <span class="header-branding-small">Media Texts Open Registry</span>
            </span>
            <span class="text-muted ps-4 fs-6">v{{ config.get('APP_VERSION') }}</span>
        </a>
        <var id="result-container" class="result-container"></var>

        <form style="width: 35%!important;" id="search-everything" name="search-everything" method="GET" action="{{ url_for('view.search') }}">
            <div class="typeahead__container">
                <div class="">
                    <div class="typeahead__query input-group">
                        <input class="search-everything form-control" name="query" placeholder="Search everything..." autocomplete="off">
                        <button class="btn btn-outline-success" type="submit"> <i class="fas fa-search"></i>
                    </button>
                    </div>
                    {#
                    <div class="search__everything__button"> #} {# <i class="typeahead__search-icon"></i> #} {# </div> #}
                </div>
            </div>
        </form>
        <!-- <form class="w-50" id="search-everything" name="search-everything" method="GET" action="{{ url_for('view.search') }}">
                    <div class="typeahead__query input-group">
                        <input class="form-control" name="query" id="searchbar-top" placeholder="Search everything..." autocomplete="off">
                        <button class="btn btn-outline-success" type="submit"> <i class="fas fa-search"></i>
                    </button>
        </form>
        <script>
        var config = {
            maxItems: 1,
            onItemAdd: function() {return},
            valueField: 'uid',
            labelField: 'name',
            searchField: 'name',
            load: function(query, callback) {
                var url = "{{ url_for('endpoint.quicksearch') }}" + "?q=" + encodeURIComponent(query);
                fetch(url)
                    .then(response => response.json())
                    .then(json => {
                        callback(json.data);
                    }).catch(() => {callback();
                    });
            },
            render: {
                option: function(item, esacpe) {
                    if (item.channel != null) {
                        var channel_label = `- ${item.channel}`
                    } else { channel_label = '' }
                    var target_url = $SCRIPT_ROOT + "/view/" + item.type.toString().toLowerCase() + '/' + item.unique_name.toString();
                    return `<a href="${target_url}"><div>${item.name} ${channel_label}<small> (Type: ${item.type}) <span class="text-muted">(uid: ${item.uid})</span></small></div></a>`
                },
                item: function(item, esacpe) {
                    if (item.channel != null) {
                        var channel_label = `- ${item.channel}`
                    } else { channel_label = '' }
                    return `<div>${item.name} ${channel_label}<small> (Type: ${item.type}) <span class="text-muted">(uid: ${item.uid})</span></small></div>`
                }
            }
            
        };
        var searchbar = new TomSelect('#searchbar-top',config);
        </script> -->
        <ul class="nav nav-pills">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('add.new_entry') }}" tabindex="-1"><i class="fas fa-plus-circle me-2"></i>Add Entry</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user me-2"></i>Tasks
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="{{ url_for('users.profile') }}" tabindex="-1"><i class="fas fa-id-badge me-2 fa-fw"></i>Profile</a></li>
                    <li>
                        <a href="{{ url_for('users.my_entries', uid=current_user.id) }}" class="dropdown-item" tabindex="-1">
                            <i class="fas fa-tasks me-2 fa-fw"></i>My Entries
                        </a>
                    </li>
                    {% if current_user.user_role >= 2 %}
                    <li><a class="dropdown-item" href="{{ url_for('review.overview') }}"><i class="fas fa-glasses me-2 fa-fw"></i>Review Entries</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('users.invite') }}"><i class="fas fa-envelope-open-text me-2 fa-fw"></i>Invite New User</a></li>
                    {% endif %}

                    <li><a class="dropdown-item" href="{{ url_for('users.logout') }}"><i class="fas fa-power-off me-2 fa-fw"></i>Logout</a></li>
                </ul>
            </li>
            {% else %}


            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users.login') }}" tabindex="-1">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users.register') }}" tabindex="-1">Register</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-boxes me-2 fa-fw"></i>Resources
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="{{ url_for('main.guides_newssource') }}" tabindex="-1"><i class="fas fa-book-open me-2 fa-fw"></i>Guides</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('main.guides_resources') }}" tabindex="-1"><i class="fas fa-external-link-alt me-2 fa-fw"></i>Link Collection</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('main.guides_teaching') }}" tabindex="-1"><i class="fas fa-chalkboard me-2 fa-fw"></i>Teaching Materials</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('main.guides_faq') }}" tabindex="-1"><i class="fas fa-question-circle me-2 fa-fw"></i>FAQ</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.about') }}" tabindex="-1"><i class="fas fa-envelope-open-text me-2 fa-fw"></i>About</a>
            </li>
        </ul>

    </header>
</div>