{% extends "layout.html" %} {% block content %}

<main>
    <h1>Welcome to the OPTED inventory for media texts!</h1>
    <p class="fs-5 col-md-8">Quickly and easily query our database of news sources, organisations, datasets, corpora, tools and more! Find out which databases hold the text data that you are looking for. Do you have a specific source in mind? Try typing the name in the search bar and check if the entry
        already exists!</p>
    <div class="mb-5">
        <form method="GET" action="{{ url_for('view.query') }}">
            <div class="row mb-4">
                <div class="col-md-5">
                    {{ form.entity.label(class="form-label") }}
                    <div class="invalid-feedback">
                        Please select one type.
                    </div>
                    {{ form.entity(class="form-select form-select-lg") }}
                </div>
                <div class="col-md-5">
                    {{ form.country.label(class="form-label") }}
                    <div class="invalid-feedback">
                        Please select one type.
                    </div>
                    {{ form.country(class="form-select form-select-lg") }}
                </div>

            </div>
            <div class="row">
                <div class="col-md-5 d-flex align-content-end flex-wrap">
                    <button class="btn btn-primary btn-lg mx-2" type="submit">Query</button>
                    <a class="mx-2 align-self-end" href="{{ url_for('view.advanced_query') }}">Advanced query</a>
                </div>
            </div>
        </form>
    </div>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
        <div class="col-md-6">
            <h2>Contribute</h2>
            <p>You want to help us and add entries to the database? You can contribute through various means:</p>
            <ul class="icon-list">
                <li>Add media organisations and news sources to our inventory.</li>
                <li>Make <strong>your</strong> research paper more visible by adding it to the inventory and linking it to news sources.</li>
                <li>You know a data base or corpus that contains full-text data? Share it with the community by adding it here!</li>
            </ul>
            <a href="{{ url_for('add.new_entry') }}" class="btn btn-primary px-4">Add entry</a>
        </div>

        <div class="col-md-6">
            <h2>Guides</h2>
            <p>Read more detailed instructions and documentation on using or contributing to the inventory.</p>
            <ul class="icon-list">
                <li><a class="fw-bold" href="{{ url_for('main.guides_newssource') }}" target="_blank">detailed guide for adding news sources to the inventory.</a></li>
            </ul>
        </div>
    </div>
</main>

{% endblock content %}

{% block sidebar %}

{% include 'sidebar_recent.html' %}

{% endblock sidebar %}