{% extends "layout.html" %} {% block content %}

<main>
    <h1>Welcome to the OPTED inventory for media&nbsp;texts!</h1>
    <p class="lead">Quickly and easily query our database of news sources, organisations, datasets, corpora, tools and more! Find out which databases hold the text data that you are looking for. Do you have a specific source in mind? Try typing the name in the search bar and check if the entry
        already exists!</p>
    <div class="mb-5">
        <form method="POST" action="{{ url_for('view.query') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}    
            <div class="row mb-4">
                <div class="col-md-5">
                    {{ form.entity.label(class="form-label") }}
                    <div class="invalid-feedback">
                        Please select one type.
                    </div>
                    {{ form.entity(class="form-select form-select-lg") }}
                </div>
                <div class="col-md-5" id="form-country">
                    {{ form.country.label(class="form-label") }}
                    <div class="invalid-feedback">
                        Please select one type.
                    </div>
                    {{ form.country(class="form-select form-select-lg", placeholder='all...') }}
                </div>
                <div class="col-md-5" id="form-used_for" hidden>
                    {{ form.used_for.label(class="form-label") }}
                    <div class="invalid-feedback">
                        Please select one type.
                    </div>
                    {{ form.used_for(class="form-select form-select-lg", placeholder='anything...') }}
                </div>

            </div>
            <div class="row">
                <div class="col-md-5 d-flex align-content-end flex-wrap">
                    {{ form.submit(class="btn btn-primary btn-lg mx-2") }} 
                    <a class="mx-2 align-self-end" href="{{ url_for('view.query') }}">Advanced query</a>
                </div>
            </div>
        </form>
    </div>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
        <div class="col-md-6">
            <h2>Contribute</h2>
            <p>You want to help us and add entries to the database? You can contribute through various means:</p>
            <ul class="icon-list">
                <li>Add media organisations and news sources to our inventory.</li>
                <li>Make <strong>your text analysis tool</strong> more visible by adding it to the inventory.</li>
                <li>You know a data base or corpus that contains full-text data? Share it with the community by adding it here!</li>
                <li>Share your dataset with the researcher community by adding it to Meteor.</li>
            </ul>
            <a href="{{ url_for('add.new_entry') }}" class="btn btn-primary px-4">Add entry</a>
        </div>

        <div class="col-md-6">
            <h2>Guides & Materials</h2>
            <p>Read more detailed instructions and documentation on using or contributing to the inventory.</p>
            <ul class="icon-list">
                <li><a class="fw-bold" href="{{ url_for('main.guides_newssource') }}">detailed guide for adding news sources to the inventory.</a></li>
                <li><a class="fw-bold" href="{{ url_for('main.guides_teaching') }}">teaching materials (e.g., slides, syllabi) for using the inventory in the classroom.</a></li>
            </ul>
        </div>
    </div>
</main>

{% include 'query/tomselect.html' %}

<script>

    const typeSelector = document.getElementById('dgraph.type')
    typeSelector.addEventListener('change', hideFields)

    function hideFields() {
        if (typeSelector.value == 'Tool') {
            document.getElementById('form-used_for').hidden = false
            document.getElementById('form-country').hidden = true
        } else {
            document.getElementById('form-used_for').hidden = true
            document.getElementById('form-country').hidden = false
        }
    }


</script>

{% endblock content %}

{% block sidebar %}

{% include 'sidebar_recent.html' %}

{% endblock sidebar %}