<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"> -->
    <script src="https://kit.fontawesome.com/077062ce2c.js" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- <script src="{{ url_for('static',  filename='/js/bloodhound.min.js') }}"></script> -->
    <!-- <script src="{{ url_for('static',  filename='/js/typeahead.bundle.min.js') }}"></script> -->
    <script src="{{ url_for('static',  filename='js/jquery.typeahead.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/jquery.typeahead_edited.css') }}"> 

    <!-- Tom Select -->
    <link href="https://cdn.jsdelivr.net/npm/tom-select@1.7.6/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@1.7.6/dist/js/tom-select.complete.min.js"></script>
    <link href="{{ url_for('static',  filename='js/tom-select.bootstrap5.css') }}" rel="stylesheet">

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {% if title %}
    <title>WP3 Inventory - {{ title }}</title>
    {% else %}
    <title>WP3 Inventory</title>
    {% endif %}
</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <main role="main">
            <div class="row">
                {% if show_sidebar %}
                <div class="col-md-8">
                {% else %}
                <div class="col-md-12">
                {% endif %}
                    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show">
                        {{ message }}
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </div>
                    {% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock %}
                </div>
                {% if show_sidebar %}
                <div class="col-md-4">
                    {% block sidebar %}
                    <div class="d-flex flex-column align-items-stretch bg-white" style="width: 380px;">
    <a href="#" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">{% if sidebar_title %} {{ sidebar_title }} {% else %}Sidebar{% endif %}</span>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea">
        {% if sidebar_items %} {% for item in sidebar_items %}
        <a href="{{ url_for('inventory.view_source', unique_name=item.unique_name) }}" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">{{ item.name }} ({{item.channel.name}})</strong>
                <small></small>
            </div>
            <div class="col-10 mb-1 small"></div>
        </a>
        {% endfor %} {% else %} {% if sidebar_form %}

        <form class="list-group-item py-3 lh-tight" method="GET" action="{{ url_for('inventory.query') }}">
            {{ sidebar_form.entity.label(class="form-label") }}
            <div class="invalid-feedback">
                Please select one type.
            </div>
            {{ sidebar_form.entity(class="form-select") }} {{ sidebar_form.country.label(class="form-label mt-3") }}
            <div class="invalid-feedback">
                Please select one type.
            </div>
            {{ sidebar_form.country(class="form-select") }}
            <div class="col-md-5 d-flex align-content-end flex-wrap my-4">
                <button class="btn btn-primary mx-2" type="submit">Query</button>
                <a class="mx-2 align-self-end" href="{{ url_for('inventory.advanced_query') }}">Advanced query</a>
            </div>
        </form>

        {% endif %}

        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">List group item heading</strong>
                <small>Wed</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
        </a>{% endif %}

    </div>
</div>
                    {% endblock sidebar %}
                </div>
                {% endif %}
            </div>
        </main>
    </div>
    <div class="container">
        <footer class="pt-5 my-5border-top">
            <p><a href="{{ url_for('main.about') }}">About</a> · <a href="http://opted.eu" target="_blank">OPTED Main Page</a> · <a href="http://twitter.com/OPTED_H2020" target="_blank"><i class="fab fa-twitter fs-5 color-twitter"></i></a> · <a href="http://www.researchgate.net/project/OPTED-H2020" target="_blank"><i class="fab fa-researchgate fs-5 color-researchgate"></i></a> · <a href="https://github.com/opted-eu" target="_blank"><i class="fab fa-github fs-5 color-github"></i></a></p>
            <p class="text-muted ">This project has received funding from the European Union’s Horizon 2020 research & innovation programme under grant agreement No 951832. The document reflects only the authors’ views. The European Union is not liable for any use that may
                be made of the information contained herein.</p>
        </footer>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',  filename='js/search_everything.js') }}"></script>
</body>

</html>