{% extends "layout.html" %} {% block content %}

<main>
    <h1>Coming soon</h1>
    <p class="fs-5 col-md-8">This feature is not ready yet, but we are working on it. Please check again later.</p>

    <hr class="col-3 col-md-2 my-5">

    <div class="row mt-4 g-5">
        <div class="col-md-6">
            <h2>Found a bug?</h2>
            <p>Something weird happened? Or a feature is not working as expected?</p>
            <ul class="icon-list">
                <li>Raise an issue in our github repository</li>
            </ul>
        </div>

        <div class="col-md-6">
            <h2></h2>
            <p></p>
            <ul class="icon-list">
                <!-- <li class="text-muted"></li> -->
            </ul>
        </div>
    </div>
</main>

{% endblock content %}