{% extends "layout.html" %} {% block content %}
<article class="container">
    <h1 class="mb-4">{{ post.title }}</h1>

    <h4 class="mb-4">
        <img class="rounded-circle me-2" src="{{ url_for('static', filename='profile_pics/' + post.author.avatar_img) }}" height="50px"> By {% if post.author.display_name %} {{ post.author.display_name }} {% else %} {{ post.author.username }} {% endif
        %} on <small>{{ post.date_published.strftime('%A, %d %b %Y') }}</small>
        </h2>
        <div class="border-bottom mb-4 mt-2">
            {% if post.author.uid == current_user.id %}
            <a class="btn btn-secondary btn-sm my-2" href="{{ url_for('posts.update_post', post_id=post.uid) }}">Update Post</a>
            <button type="button" class="btn btn-danger btn-sm m-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button> {% endif %}
        </div>
        <p class="mb-4">{{ post.content }}</p>
        <p class="text-muted">
            Tags: {% for tag in post.tags %}
            <span class="badge rounded-pill bg-dark">{{tag}}</span> {% endfor %}
        </p>
</article>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this post? This cannot be undone!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="{{ url_for('posts.delete_post', post_id=post.uid) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}