{% extends "layout.html" %} {% block content %}
<article>
    <div class="col d-flex align-items-start mb-4">
        <div class="icon-square me-3">
            <h2><i class="icon-{{ entry.unique_name }} color-{{ entry.unique_name }}" alt="{{ entry.name }}"></i></h2>
        </div>
        <div>
            <h2>{{ entry.name }} <small class="fs-6 mx-4 text-muted">({{ entry.uid }})</small></h2>
        </div>
    </div>
    <div class="card">
        <div class="row g-0">
            <div class="col-md-3">
                <div class="card-body">
                    <h5 class="card-title">General Information</h5>
                    <p class="card-text"></p>

                </div>

            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <!-- <h5 class="card-title"></h5> -->
                    {% if entry.other_names %}
                    <p class="card-text">Also known as: {{ ", ".join(entry.other_names) }}</p>{% endif %} {% if entry.wikidataID %}
                    <p class="card-text">Wikidata: <a href="https://www.wikidata.org/wiki/Q{{ entry.wikidataID }}" target="_blank">Q{{ entry.wikidataID }}</a></p>{% endif %} {% if entry.description %}
                    <p class="card-text">Description: {{ entry.description }}</p>{% endif %}
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row g-0">
            <div class="col-md-3">
                <div class="card-body">
                    <h5 class="card-title">Sources included</h5>
                    <p class="card-text"><small class="text-muted">Summary of sources associated with this channel.</small></p>
                </div>

            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <p class="card-text">Total: <a href="{{ url_for('inventory.advanced_query') }}">{{ entry.num_sources }}</a></p>
                </div>
            </div>
        </div>
    </div>

</article>
{% endblock content %}