{% from "helpers/_viewhelpers.html" import render_publication %}
<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-4"><h5>Corpus</h5></dt>
        <dd class="col-sm-9 mb-4"><small class="text-muted">These corpora have this text unit.</small></dd>
        <dt class="col-sm-3"></dt>
        <dd class="col-sm-9 mb-4">
        {% if entry.corpus %} 
            {% for corp in entry.corpus %}
            <p>{{ render_publication(corp) }}</p>
            {% endfor %}
        {% endif %}
        </dd>
    </dl>
</div>