<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-4"><h5>Tools</h5></dt>
        <dd class="col-sm-9 mb-4"><small class="text-muted">These tools can handle this file format.</small></dd>
        {% if entry.tools %} 
            {% for tool in entry.tools %}
            <dt class="col-sm-3"></dt>
            <dd>
            <a href="{{ url_for('view.view_uid', uid=tool.uid) }}">
                <span class="d-inline-block text-truncate" style="max-width: 140px;"><em>{{tool.name}}</em></span> <span class="d-inline-block text-truncate" style="max-width: 140px;">{% if tool.authors is string %} {{ tool.authors }}{%else%}{{
                        tool.authors[0] }}{%endif%}</span>
            </a> 
            {% endfor %}
        </dd>
        {% endif %}
    </dl>
</div>

<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-4"><h5>Dataset</h5></dt>
        <dd class="col-sm-9 mb-4"><small class="text-muted">These datasets are using this file format.</small></dd>
        {% if entry.datasets %} 
            {% for dataset in entry.datasets %}
            <dt class="col-sm-3"></dt>
            <dd>
            <a href="{{ url_for('view.view_uid', uid=dataset.uid) }}">
                <span class="d-inline-block text-truncate" style="max-width: 140px;"><em>{{dataset.name}}</em></span> <span class="d-inline-block text-truncate" style="max-width: 140px;">{% if dataset.authors is string %} {{ dataset.authors }}{%else%}{{
                        dataset.authors[0] }}{%endif%}</span>
            </a> 
            {% endfor %}
        </dd>
        {% endif %}
    </dl>
</div>