{% macro render_field(field) %}

<div class="mb-3">
    {{ field.label() }}
    {% if field.errors %} 
        {{ field(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in field.errors %}
            <span>{{ error }}</span> 
            {% endfor %}
        </div>
    {% else %} 
        {% if field.type == 'BooleanField' %}
            {{ field(class="form-check") }} 
        {% else %}
            {{ field(class="form-control form-control-lg") }} 
        {% endif %}
    {% endif %} 
</div>

{% endmacro %}