{% extends "layout.html" %} {% block content %}


<div class="content-section pt-4">
<div class="row justify-content-center">
<div class="col-6">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group mb-3">
            <legend class="border-bottom mb-4">Edit Organization</legend>
            <div class="mb-3">
                {{ form.uid.label() }}
                {% if form.uid.errors %} 
                    {{ form.uid(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.uid.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.uid(class="form-control form-control-lg") }} 
                {% endif %} 
            </div>
            <div class="mb-3">
                {{ form.unique_name.label() }}
                {% if form.unique_name.errors %} 
                    {{ form.unique_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.unique_name.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.unique_name(class="form-control form-control-lg") }} 
                {% endif %} 
            </div>
            <div class="mb-3">
                {{ form.name.label() }}
                {% if form.name.errors %} 
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.name(class="form-control form-control-lg") }} 
                {% endif %} 
            </div>
            <div class="mb-3">
                {{ form.other_names.label() }}
                {% if form.other_names.errors %} 
                    {{ form.other_names(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.other_names.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.other_names(class="form-control form-control-lg") }} 
                {% endif %} 
            </div>
            <div class="mb-3">
                {{ form.wikidataID.label() }}
                {% if form.wikidataID.errors %} 
                    {{ form.wikidataID(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.wikidataID.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.wikidataID(class="form-control form-control-lg") }} 
                {% endif %} 
            </div>
            <div class="mb-3">
                {{ form.founded.label() }}
                {% if form.founded.errors %} 
                    {{ form.founded(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.founded.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.founded(class="form-control form-control-lg") }} 
                {% endif %} 
            </div>
            <div class="mb-3">
                {{ form.is_person.label() }}
                {% if form.is_person.errors %} 
                    {{ form.is_person(class="form-check is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.is_person.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.is_person(class="form-check") }} 
                {% endif %} 
            </div>
            <div class="mb-3">
                {{ form.ownership_kind.label() }}
                {% if form.ownership_kind.errors %} 
                    {{ form.ownership_kind(class="form-select form-select-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.ownership_kind.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.ownership_kind(class="form-select form-select-lg") }} 
                {% endif %} 
            </div>
            <div class="mb-3">
                {{ form.country.label() }}
                {% if form.country.errors %} 
                    {{ form.country(class="form-select form-select-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.country.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.country(class="form-select form-select-lg") }} 
                {% endif %} 
            </div>
            <div class="mb-3">
                {{ form.address_string.label() }}
                {% if form.address_string.errors %} 
                    {{ form.address_string(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.address_string.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.address_string(class="form-control form-control-lg") }} 
                {% endif %} 
            </div>
            <div class="mb-3">
                {{ form.address_geo.label() }}
                {% if form.address_geo.errors %} 
                    {{ form.address_geo(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.address_geo.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.address_geo(class="form-control form-control-lg") }} 
                {% endif %} 
            </div>
            <div class="mb-3">
                {{ form.employees.label() }}
                {% if form.employees.errors %} 
                    {{ form.employees(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.employees.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.employees(class="form-control form-control-lg") }} 
                {% endif %} 
            </div>
            <div class="mb-3">
                {{ form.publishes_unique_name.label() }}
                {% if form.publishes_unique_name.errors %} 
                    {{ form.publishes_unique_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.publishes_unique_name.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.publishes_unique_name(class="form-control form-control-lg") }} 
                {% endif %} 
            </div>
            <div class="mb-3">
                {{ form.publishes.label() }}
                {% if form.publishes.errors %} 
                    {{ form.publishes(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.publishes.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.publishes(class="form-control form-control-lg") }} 
                {% endif %} 
            </div>
            <div class="mb-3">
                {{ form.owns.label() }}
                {% if form.owns.errors %} 
                    {{ form.owns(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.owns.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.owns(class="form-control form-control-lg") }} 
                {% endif %} 
            </div>
            <div class="mb-3">
                {{ form.owns_unique_name.label() }}
                {% if form.owns_unique_name.errors %} 
                    {{ form.owns_unique_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.owns_unique_name.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.owns_unique_name(class="form-control form-control-lg") }} 
                {% endif %} 
            </div>
            <div class="mb-3">
                {{ form.entry_added.label() }}
                {% if form.entry_added.errors %} 
                    {{ form.entry_added(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.entry_added.errors %}
                        <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.entry_added(class="form-control form-control-lg") }} 
                {% endif %} 
            </div>

            

        </fieldset>
        <div class="form-group mb-3">
            {{ form.submit(class="btn btn-outline-info my-4") }}
        </div>
    </form>
</div>
</div>
</div>
{% endblock content %} {% block sidebar %} {% endblock sidebar %}