{% from "helpers/_viewhelpers.html" import render_publication %}
<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-4"><h5>Research</h5></dt>
        <dd class="col-sm-9 mb-4"><small class="text-muted">Following publications used this tool.</small></dd>
        <dt class="col-sm-3"></dt>
        <dd class="col-sm-9 mb-4">
        {% if entry.papers %} 
            {% for paper in entry.papers %}
                <p>{{ render_publication(corp) }}</p>
            {% endfor %}
        {% endif %}
        </dd>
    </dl>
</div>