{% extends "layout.html" %} {% block content %}

<h1>Detailed Guide for adding News Sources</h1>

<p class="lead">Thank you for participating!</p>

{% filter markdown %}

# What is included in this inventory?

Before you start, please carefully read the following instructions to
learn about the type of news sources we are looking for:

News texts are nowadays produced by diverse groups of actors and are
accessible in various formats and via various channels. For the OPTED
inventory of European news sources, we focus on a specific type of news
producing sources. Please carefully read the following definition.

**By news sources, we mean sources that:**

-   have the primary purpose to regularly report and comment on recent
    events and ideas
-   produce (self-create) textual content
-   claim to be non-fictional
-   can be regarded as a rather complex organisations and has
    standardized practises (not a one-man or one women operation)

**Important, we look for:**

-   Sources mainly associated with EU countries + UK, Switzerland,
    Norway, and Israel
-   Sources that are actively publishing today.
-   The channel counts: e.g., Spiegel print and spiegel online are
    listed as separate sources
-   Various regional print editions are included as separate sources if
    the individual region is as wide-reaching as a country (e.g., 'Zeit'
    and 'Zeit Österreich' are considered 2 separate sources). If the
    regions are subnational units, only the main source is included
    (e.g., 'Badische Zeitung' had 9 editions for small geographic units
    (e.g. Badische Zeitung Elztal', 'Badische Zeitung Freiburg'), it is
    only included once as 'Badische Zeitung' in the inventory.
-   Various social media accounts of a news source are included
    asseparate sources
-   Please provide information about the sources that are correct for
    the moment (to the best of your knowledge) in which you enter the
    information.

**More specifically the inventory includes:**

-   Print news sources
-   Online news sources
-   Websites that provide transcripts to self-created audiovisual
    contents (tv, radio, or podcasts)
-   News agencies (e.g., Reuters, AFP, AP)
-   Social media accounts providing news, self-created textual content
-   Messaging apps providing news, self-created textual content
-   Sources for multinational audiences (e.g.,
    [www.euronews.com]({{ url_for('view.view_source', unique_name='https_www_euronews_com_website')}})), national audiences (e.g.,
    [www.derstandard.at]({{ url_for('view.view_source', unique_name='www.derstandard.at')}})), and subnational audiences (i.e., for
    a region or city, e.g., [www.standard.co.uk]({{ url_for('view.view_source', unique_name='https_www_standard_co_uk_website')}}))
-   News blogs that are published by a group of people (i.e. different
    authors, appears to be created with editorial support, see for
    example
    [www.nachdenkseiten.de]({{ url_for('view.view_source', unique_name='https_www_nachdenkseiten_de_website')}}),
    [globalvoices.org]({{ url_for('view.view_source', unique_name='https_globalvoices_org_website')}}))
-   Alternative news media sources (i.e., propagate that they provide an
    alternative view in contrast to mainstream media, e.g.,
    [order-order.com]({{ url_for('view.view_source', unique_name='https_order_order_com_website')}}) )

**Please note, the inventory does not include:**

-   News aggregation sites (e.g. Google news, Apple News, Upday,
    Flipboard)
-   Citizen journalism (i.e., news blogs by individuals, without any
    notion of editorial control)
-   Sources clearly related to corporations, foundations, think tanks,
    universities, advocacy groups (often .org website urls)
-   Sources with a main focus on celebrities, sport, travel, music,
    arts, movies, event announcements, highly specific industries
-   Social media accounts only sharing news that were created by others
    (e.g., a private account sharing links to articles from a newspaper)
-   Collective political actors (e.g., parties, governments) and
    (political) advertisement/public relations

# List of credible resources

We provide a **[curated and growing list of resources ]({{ url_for('main.guides_resources') }})** that we found useful
for adding entries to the inventory.

## Audience Size for Print Newspapers

Getting detailed information about the reach of a printed news source
can be challenging. However, there are interest groups that collect such
data and sometimes make it available for public.

Visit the [International Federation of Audit Bureaux of
Circulations](https://www.ifabc.org/members/full-member-list-alphabetically)
to find an appropriate source for many European countries. E.g., for
Austria the [OEAK](https://www.oeak.at/auflagedetails/) or Germany the
[IVW](https://www.ivw.eu/print/print).

[TOC]

{% endfilter %}


{% endblock content %}


{% block sidebar %}

{% include "guides/sidebar_toc.html" %} 

{% endblock sidebar %}
