{% extends "layout.html" %} {% block content %}

<h1>Detailed Guide for adding News Sources</h1>

<p>Thank you for participating!</p>

<p>Before you start, please carefully read the following instructions to
    learn about the type of news sources we are looking for:</p>

<p>News texts are nowadays produced by diverse groups of actors and are
    accessible in various formats and via various channels. For the OPTED
    inventory of European news sources, we focus on a specific type of
    news producing sources. Please carefully read the following
    definition.</p>

<h3>By news sources, we mean sources that:</h3>

<ul>
    <li>have the primary purpose to regularly report and comment on recent events and ideas</li>
    <li>produce (self-create) textual content</li>
    <li>claim to be non-fictional</li>
    <li>can be regarded as a rather complex organisations and has
        standardized practises (not a one-man or one women operation)</li>
</ul>


<h3>Important, we look for:</h3>

<ul>
    <li>Sources mainly associated with EU countries + UK, Switzerland, Norway, and Israel</li>
    <li>Sources that are actively publishing today.</li>
    <li>The channel counts: e.g., Spiegel print and spiegel online are
        listed as separate sources</li>
    <li>Various regional print editions are included as separate sources if
        the individual region is as wide-reaching as a country (e.g., ‘Zeit’
        and ‘Zeit Österreich’ are considered 2 separate sources). If
        the regions are subnational units, only the main source is included
        (e.g., ‘Badische Zeitung’ had 9 editions for small geographic
        units (e.g. Badische Zeitung Elztal’, ‘Badische Zeitung
        Freiburg’), it is only included once as ‘Badische Zeitung’ in
        the inventory.</li>
    <li>Various social media accounts of a news source are included asseparate sources </li>

    <li>Please provide information about the sources that are correct for the moment (to the best of your knowledge) in which you enter the
        information. </li>

</ul>


<h3>More specifically the inventory includes:</h3>

<ul>
    <li>Print news sources </li>

    <li>Online news sources </li>

    <li>Websites that provide transcripts to self-created audiovisual
        contents (tv, radio, or podcasts)</li>
    <li>News agencies (e.g., Reuters, AFP, AP)</li>
    <li>Social media accounts providing news, self-created textual content</li>
    <li>Messaging apps providing news, self-created textual content</li>
    <li>Sources for multinational audiences (e.g.,
        <a target="_blank" href="https://www.euronews.com/">https://www.euronews.com/</a>), national audiences (e.g.,
        <a target="_blank" href="https://www.derstandard.at/">https://www.derstandard.at/</a>), and subnational
        audiences (i.e., for a
        region or city, e.g., <a target="_blank" href="https://www.standard.co.uk/">https://www.standard.co.uk/</a>)
    </li>
    <li>News blogs that are published by a group of people (i.e. different authors, appears to be created with editorial support, see for
        example <a target="_blank" href="https://www.nachdenkseiten.de/">https://www.nachdenkseiten.de</a>,
        <a target="_blank" href="https://globalvoices.org/">https://globalvoices.org/</a>)
    </li>
    <li> Alternative news media sources (i.e., propagate that they provide an alternative view in contrast to mainstream media, e.g.,
        <a target="_blank" href="https://order-order.com/">https://order-order.com/</a>
        )
    </li>
</ul>


<h3>Please note, the inventory does not include:</h3>

<ul>
    <li> News aggregation sites (e.g. Google news, Apple News, Upday, Flipboard)</li>
    <li> Citizen journalism (i.e., news blogs by individuals, without any
        notion of editorial control)</li>
    <li> Sources clearly related to corporations, foundations, think tanks, universities, advocacy groups (often .org website urls)</li>
    <li> Sources with a main focus on celebrities, sport, travel, music, arts, movies, event announcements, highly specific industries
    </li>
    <li> Social media accounts only sharing news that were created by others
        (e.g., a private account sharing links to articles from a newspaper)</li>
</ul>

{% endblock content %}