

<!DOCTYPE html>
  <head>
    <title>newsource</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/tom-select@1.7.6/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@1.7.6/dist/js/tom-select.complete.min.js"></script>
    <link href="{{ url_for('static',  filename='js/tom-select.bootstrap5.css') }}" rel="stylesheet">

</head>

  <body>
      <div class="container my-4"> 
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary my-5" id="loading-form" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <form id="new-source" autocomplete="off" autocorrect="off" spellcheck="false" style="display: none;">
            <div class="progress my-4">
                <div id="questionnaire-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <fieldset id="section-general">
                <h3 class="mb-4">General Information</h3>
                <div class="mb-3 form-group">
                    <label for="channel-select" class="form-label">Through which channel is the news source distributed?</label>
                    <!-- <input class="form-control" list="channel-options" id="channel-select" placeholder="Type to search..."> -->
                    <select name="channel" id="channel-select" class="form-select" aria-describedby="channel-select-feedback" required>
                        <option value="" selected>Select...</option>
                    </select>
                    <div id="channel-select-feedback"></div>
                    <input type="text" name="channel_uid" id="channel-select-hidden" style="display: none;">
                </div>
                <div id="group-channel-new" class="mb-3" style="display: none;">
                    <label for="channel-new" class="form-label">Please specify the channel that is not listed above:</label>
                    <input type="text" name="channel_new" class="form-control" id="channel-new" aria-describedby="channel-new-feedback">
                    <div id="channel-new-feedback"></div>
                </div>
                <div class="mb-3">
                    <div id="group-name" class="form-group">
                        <label for="name" class="form-label">What is the name of the print news source?</label>
                    <div class="input-group">
                        <span class="input-group-text" id="name-addon">https://www.facebook.com/</span>
                        <input name="name" type="text" class="form-control" id="source-name" placeholder="e.g. 'The Royal Gazette'" aria-describedby="name-feedback" required>
                        <div id="name-feedback"></div>
                        </div>
                        <small id="name-helptext"></small>
                    </div>
                    <div id="group-transcript-kind" class="my-3 form-group">
                        <label for="transcript-kind" class="form-label">What kind of show is transcribed?</label>
                        <select name="transcript_kind" class="form-select" id="transcript-kind" aria-describedby="transcript-kind-feedback">
                            <option value="" selected>Choose...</option>
                            <option value="tv">TV (broadcast, cable, satellite, etc)</option>
                            <option value="radio">Radio</option>
                            <option value="podcast">Podcast</option>    
                            <option value="none">Don't know</option>
                        </select>
                        <div id="transcript-kind-feedback"></div>
                    </div>
            </div>
            
            <div class="mb-3 form-group">
                <label for="other-names" class="form-label">Is the news source known by alternative names (e.g. Krone, Die Kronen Zeitung)? Please type them here:</label>
                <select type="text" name="other_names" class="form-control" id="other-names" placeholder="Separate by comma" multiple></select>
            </div>

            <div id="group-epaper" class="mb-3 form-group" style="display: none;">
                <label for="channel-epaper" class="form-label">Does the print news source have an e-paper version? Please insert the url here:</label>
                <input name="channel_epaper" type="text" class="form-control" id="channel-epaper" placeholder="Please specify (e.g., https://swmh-epaper.s4p-iapps.com/)">
            </div>

            <div id="group-channel-comments" class="mb-3 form-group" style="display: none;">
                <label for="channel-comments" class="form-label">Does the online news source have user comments below individual news articles?</label>
                <select name="channel_comments" type="text" class="form-control" id="channel-comments" placeholder="Please specify (e.g., https://swmh-epaper.s4p-iapps.com/)" aria-describedby="channel-comments-feedback">
                    <option value="">Choose...</option>
                    <option label="No comments">No comments</option>
                    <option label="User comments with registration">Registration required</option>
                    <option label="User comments without registration">Anyone</option>
                    <option label="Don't know">DK</option>
                </select>
                <div id="channel-comments-feedback"></div>
                </div>
            
            <div class="mb-3 form-group">
                <label for="source-founded" class="form-label">What year was the news source founded?</label>
                <input name="founded" type="number" step="1" min="1900" max="2100" class="form-control" id="source-founded" placeholder="Format: YYYY" aria-describedby="founded-feedback">
                <div id="founded-feedback"></div>
            </div>

                <input type="button" class="btn btn-primary next" value="Next Step">
            </fieldset>


         <!-- SECTION: ECONOMIC VARIABLES -->
            <fieldset id="section-economic" style="display: none;">
                <h3 class="mb-4">Economic Properties</h3>
                <div id="group-payment-model" class="mb-3 form-group">
                    <label for="payment-model" class="form-label">Is the content produced by the news source accessible free of charge?</label>
                    <select name="payment_model" class="form-select" id="payment-model" aria-describedby="payment-model-feedback" required>
                        <option value="" selected>Choose...</option>
                        <option value="free">Free</option>
                        <option value="soft paywall">Soft paywall</option>
                        <option value="subscription">Subscription</option>    
                        <option value="none">Don't know</option>
                    </select>
                    <div id="payment-model-feedback"></div>
                </div>

                <div id="group-contains-ads" class="mb-3 form-group">
                    <label for="contains-ads" class="form-label">Does the news source contain advertisements?</label>
                    <select name="contains_ads" class="form-select" id="contains-ads" aria-describedby="contains-ads-feedback" required>
                        <option value="" selected>Choose...</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                        <option value="non subscribers">Only for non-paying users</option>    
                        <option value="none">Don't know</option>
                    </select>
                    <div id="contains-ads-feedback"></div>
                </div>

                <div id="group-publishes" class="mb-3 form-group">
                    <label for="publishes" class="form-label">Which organization or person owns the news source?</label>
                    <select name="publishes" id="publishes" class="form-select form-select-lg" placeholder="Separate by comma" multiple></select>
                    <small id="publishes-helptext">e.g. The print newspaper The Guardian is owned by Guardian Media Group. To identify this information please check the imprint (or imprint alike information)</small>
                </div>

                <div id="group-ownership-kind" class="mb-3 form-group">
                    <label for="ownership-kind" class="form-label">Is the news source funded mainly public or mainly private?</label>
                    <select name="ownership_kind" class="form-select" id="ownership-kind" aria-describedby="ownership-kind-feedback" required>
                        <option value="" selected>Choose...</option>
                        <option value="public ownership">Mainly public</option>
                        <option value="private ownership">Mainly Private</option>
                        <option value="unknown">News source does not mention the type of funding</option>    
                        <option value="none">Don't know</option>
                    </select>
                    <div id="ownership-kind-feedback"></div>
                    <small id="ownership-kind-helptext">To identify this information please check the imprint (or imprint alike information)</small>
                </div>



                <input type="button" class="btn btn-primary prev" value="Previous Step">
                <input type="button" class="btn btn-primary next" value="Next Step">
            </fieldset>

            <!-- SECTION JOURNALISTIC ROUTINE -->

            <fieldset id="section-routines" style="display: none;">
                <h3 class="mb-4">Journalistic Routines</h3>

                <div id="group-publication-kind" class="mb-3 form-group">
                    <label for="publication-kind" class="form-label">What label or labels describe the source?</label>
                    <select name="publication_kind" class="form-select" id="publication-kind" aria-describedby="publication-kind-feedback" required multiple>
                        <option value="" selected>Choose...</option>
                        <option value="newspaper">Newspaper</option>
                        <option value="news agency">News Agency</option>
                        <option value="magazine">Magazine</option>
                        <option value="tv show">TV Show</option>
                        <option value="radio show">Radio Show</option>
                        <option value="podcast">Podcast</option>
                        <option value="news blog">News Blog</option>
                        <option value="alternative media">Alternative Media</option>
                        <option value="none">Don't know</option>
                    </select>
                    <div id="publication-kind-feedback"></div>
                    <small id="publication-kind-helptext">To identify this information please check the information in the learning module.</small>
                </div>



                <div id="group-special-interest" class="mb-3 mt-4 form-group">
                    <p class="form-label">Does the news source have one main topical focus?</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="special_interest" id="special_interest1" value="no"  aria-describedby="special-interest-feedback" checked>
                        <label class="form-check-label" for="special_interest1">
                            No, it is a general interest news source (i.e., general news) 
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="special_interest" id="special_interest2" value="yes" aria-describedby="special-interest-feedback" >
                        <label class="form-check-label" for="special_interest2">
                            Yes, is a special interest news source (i.e., clear focus on one topic) 
                        </label>
                      </div>
                      <div id="special-interest-feedback"></div>
                </div>

                <div id="group-topical-focus" class="mb-3 form-group" hidden>
                    <label for="topical-focus" class="form-label">What is the main topical focus of the news source?</label>
                    <select name="topical_focus" class="form-select" id="topical-focus" aria-describedby="topical-focus-feedback" multiple>
                        <option value="" selected>Choose...</option>
                        <option value="politics">Politics</option>
                        <option value="society">Society & Panorama</option>
                        <option value="economy">Economy, Finance & Stocks</option>
                        <option value="religion">Religion</option>
                        <option value="science">Science & Technology</option>
                        <option value="media">Media</option>
                        <option value="environment">Environment</option>
                        <option value="education">Education</option>
                        <option value="none">Don't know</option>
                    </select>
                    <div id="topical-focus-feedback"></div>
                    <small id="topical-focus-helptext"></small>
                </div>

                <div id="group-publication-cycle" class="mb-3 form-group">
                    <label for="publication-cycle" class="form-label">What is the publication cycle of the source?</label>
                    <select name="publication_cycle" class="form-select" id="publication-cycle" aria-describedby="publication-cycle-feedback">
                        <option value="" selected>Choose...</option>
                        <option value="continuous">Continuous (mainly applicable for online news / social media / messenger)</option>
                        <option value="daily">Daily (7 times a week)</option>
                        <option value="mulitple times per week">Multiple times per week</option>
                        <option value="weekly">Once a week</option>
                        <option value="twice a month">Twice a month</option>
                        <option value="monthly">Monthly</option>
                        <option value="none">Don't know</option>
                    </select>
                    <div id="publication-cycle-feedback"></div>
                    <small id="publication-cycle-helptext"></small>
                </div>

                <div id="group-publication-cycle-weekday" class="mb-3" hidden>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" aria-describedby="publication-cycle-weekday-feedback" type="checkbox" name="publication_cycle_weekday1" id="publication-cycle-weekday1" value="yes">
                        <label class="form-check-label" for="publication-cycle-weekday1">Monday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" aria-describedby="publication-cycle-weekday-feedback" type="checkbox" name="publication_cycle_weekday2" id="publication-cycle-weekday2" value="yes">
                        <label class="form-check-label" for="publication-cycle-weekday2">Tuesday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" aria-describedby="publication-cycle-weekday-feedback" type="checkbox" name="publication_cycle_weekday3" id="publication-cycle-weekday3" value="yes">
                        <label class="form-check-label" for="publication-cycle-weekday3">Wednesday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" aria-describedby="publication-cycle-weekday-feedback" type="checkbox" name="publication_cycle_weekday4" id="publication-cycle-weekday4" value="yes">
                        <label class="form-check-label" for="publication-cycle-weekday4">Thursday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" aria-describedby="publication-cycle-weekday-feedback" type="checkbox" name="publication_cycle_weekday5" id="publication-cycle-weekday5" value="yes">
                        <label class="form-check-label" for="publication-cycle-weekday5">Friday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" aria-describedby="publication-cycle-weekday-feedback" type="checkbox" name="publication_cycle_weekday6" id="publication-cycle-weekday6" value="yes">
                        <label class="form-check-label" for="publication-cycle-weekday6">Saturday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" aria-describedby="publication-cycle-weekday-feedback" type="checkbox" name="publication_cycle_weekday7" id="publication-cycle-weekday7" value="yes">
                        <label class="form-check-label" for="publication-cycle-weekday7">Sunday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" aria-describedby="publication-cycle-weekday-feedback" type="checkbox" name="publication_cycle_na_weekday" id="publication-cycle-weekday-none" value="yes">
                        <label class="form-check-label" for="publication-cycle-weekday7">Don't know</label>
                    </div>
                    <div id="publication-cycle-weekday-feedback"></div>
                </div>

                <input type="button" class="btn btn-primary prev" value="Previous Step">
                <input type="button" class="btn btn-primary next" value="Next Step">
            </fieldset>

            <!-- SECTION AUDIENCE RELATED -->

            <fieldset id="section-audience" style="display: none;">
                <h3 class="mb-4">Audience Related</h3>

                <div id="group-geographic-scope" class="mb-3 mt-4 form-group">
                    <div class="form-label">
                        <p>What is the geographic scope of the news source? Who is the audience that the source is primarily addressing? </p>
                        <small id="geographic-scope-helptext">This information can be inferred from the content (e.g., actors, topics, events).</small>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" aria-describedby="geographic-scope-feedback" type="radio" name="geographic_scope" id="geographic_scope1" value="multinational" checked>
                        <label class="form-check-label" for="geographic_scope1">
                            Multinational (e.g., EU in general, German-speaking countries)
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" aria-describedby="geographic-scope-feedback" type="radio" name="geographic_scope" id="geographic_scope2" value="national">
                        <label class="form-check-label" for="geographic_scope2">
                            National (consumed mainly in one country) 
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" aria-describedby="geographic-scope-feedback" type="radio" name="geographic_scope" id="geographic_scope3" value="subnational">
                        <label class="form-check-label" for="geographic_scope3">
                            Subnational (consumed in a city/county/province/department)
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" aria-describedby="geographic-scope-feedback" type="radio" name="geographic_scope" id="geographic_scope4" value="none">
                        <label class="form-check-label" for="geographic_scope4">
                            Don't know
                        </label>
                      </div>
                      <div id="geographic-scope-feedback"></div>
                </div>

                <div id="group-geographic-scope-countries" class="mb-3 form-group">
                    <label for="geographic-scope-countries" class="form-label">What is the multinational scope?</label>
                    <select name="geographic-scope-countries" id="geographic-scope-countries" class="form-select form-select-lg" placeholder="Separate by comma" multiple></select>
                    <small id="geographic-scope-countries-helptext"></small>
                </div>

                <div id="group-geographic-scope-subunit" class="mb-3 form-group" hidden>
                    <label for="geographic-scope-subunit" class="form-label">What is the subnational scope?</label>
                    <select type="text" name="geographic_scope_subunit" class="form-control" id="geographic-scope-subunit" placeholder="Separate by comma" multiple></select>
                </div>

                <div id="group-languages" class="mb-3 form-group">
                    <label for="languages" class="form-label">In which language(s) does the news source publish its news texts?</label>
                    <select name="languages" id="languages" class="form-select form-select-lg" placeholder="Separate by comma" multiple></select>
                    <small id="languages-helptext"></small>
                </div>

                <div id="group-audience-size" class="mb-3 mt-4">
                    <div id="group-audience-size-subscribers" class="mb-3">
                        <label for="audience-size-subscribers" class="form-label">How many people subscribe to this newspaper? <span class="text-muted">Please specify an absolute number (no percentage)</span></label>
                        <input name="audience_size_subscribers" type="number" step="1" class="form-control" id="audience-size-subscribers" aria-describedby="audience-size-subscribers-feedback">
                        <div id="audience-size-subscribers-feedback"></div>
                    </div>
                    <div id="group-audience-size-year" class="mb-3">
                        <label for="audience-size-year" class="form-label">For which year is this information?<span class="text-muted mx-1">(i.e., number of subscribers)</span></label>
                        <input name="audience_size_year" type="number" step="1" min="1900" max="2100" class="form-control" id="audience-size-year" aria-describedby="audience-size-year-feedback" placeholder="YYYY">
                        <div id="audience-size-year-feedback"></div>
                    </div>
                    <div id="group-audience-size-datafrom" class="mb-3">
                        <label for="audience-size-datafrom" class="form-label">Where did you get the subscriber information from? Please type the name of the data source or paste a link.<span class="text-muted"></span></label>
                        <input name="audience_size_datafrom" type="text" class="form-control" id="audience-size-datafrom" aria-describedby="audience-size-datafrom-feedback" placeholder="Please specify name or a link">
                        <div id="audience-size-datafrom-feedback"></div>
                    </div>

                    <small id="audience-size-helptext">If you’re not sure about this, just skip the question.</small>
                </div>
                <input type="button" class="btn btn-primary prev" value="Previous Step">
                <input type="button" class="btn btn-primary next" value="Next Step">
            </fieldset>

            <!-- SECTION ACCESS TO RAW TEXT AND ANNOTATION -->

            <fieldset id="section-annotations" style="display: none;">
                <h3 class="mb-4">Access to Raw Text and Annotations</h3>

                <div id="group-archive-sources-included" class="mb-3 form-group">
                    <label for="archive-sources-included" class="form-label">Are texts from the news source available for download in one or several of the following data archives?</label>
                    <select name="archive_sources_included" id="archive-sources-included" class="form-select form-select-lg" placeholder="Separate by comma" multiple></select>
                    <small id="archive-sources-included-helptext"></small>
                </div>

                <div id="group-dataset-sources-included" class="mb-3 form-group">
                    <label for="dataset-sources-included" class="form-label">Is the news source included in one or several of the following annotated media text data sets?</label>
                    <select name="dataset_sources_included" id="dataset-sources-included" class="form-select form-select-lg" placeholder="Separate by comma" multiple></select>
                    <small id="dataset-sources-included-helptext"></small>
                </div>

                <input type="button" class="btn btn-primary prev" value="Previous Step">
                <input type="button" class="btn btn-primary next" value="Next Step">
            </fieldset>

            <!-- SECTION OTHER -->

            <fieldset id="section-other" style="display: none;">
                <h3 class="mb-4">Other Information</h3>

                <div id="group-entry-notes" class="mb-3 form-group">
                    <label for="entry-notes" class="form-label">Do you have any other notes on the source that you just coded?<span class="text-muted mx-1">(optional)</span></label>
                    <input type="text" name="entry_notes" id="entry-notes" class="form-control form-control-lg" placeholder="">
                    <small id="entry-notes-helptext"></small>
                </div>

                <div id="group-related-sources" class="mb-3 form-group">
                    <label for="related-sources" class="form-label">For the source that you just coded, does it have other closely related sources? Please type their names below</label>
                    <select name="related_sources" id="related-sources" class="form-select form-select-lg" placeholder="Separate by comma" multiple></select>
                    <small id="related-sources-helptext"></small>
                </div>

                <input type="button" class="btn btn-primary prev" value="Previous Step">
                <input type="button" class="btn btn-primary next" value="Next Step">
            </fieldset>

            <fieldset id="section-final" style="display: none;">
                <input type="button" class="btn btn-primary prev" value="Previous Step">
                <input type="submit" class="btn btn-success" value="Submit" />
            </fieldset>
            <div class="mb-3 d-flex flex-row-reverse">
                <input type="reset" class="btn btn-danger" id="reset-form" value="Reset form" />
            </div>

            
        
        </form>
</div>

<script>

    // rewrite everything with jquery https://tobiasahlin.com/blog/move-from-jquery-to-vanilla-javascript/#selecting-elements
    // GLOBAL CONSTANTS
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    const csrftoken = "{{ csrf_token() }}";
    
    // ********************
    // Function declaration
    // ********************

    // Get custom attribute (data-value) from all select and put them in hidden fields
    (function($) {
        $.fn.extend({
            inputSelectToHidden: function() {
                return this.change(function() {
                    var option = $('option:selected', this).attr('data-value');
                    var hidden = $("#" + this.id + "-hidden");
                    hidden.val(option);
                })
                }
        });
    })(jQuery);

    function addFieldOptions(fieldOptions, key, selector) {
        fieldOptions[key].forEach(function(item, i) {
            $(selector).append('<option value="' + item.unique_name + '" data-value="' + item.uid + '" data-index="' + i + '">' + item.name + '</option>');

    })
        $(selector).append('<option value="other" data-value="new" data-index="99">Other</option>');

    };

    function getFieldOptions(targetUrl) {
        return new Promise(function(resolve, reject) {
            $.ajax({
                url: targetUrl,
                success: function(data) {
                    resolve(data); // Resolve promise and go to then()
                    $('#loading-form').hide();
                    $('#new-source').show();
                },
                error: function(err) {
                    reject(err) // Reject the promise and go to catch()
                }
            });
        });
    }

    // Field Visibility Logic
    function channelVisibility(fieldOptions, allNames, el) {
        var value = $(el).find(':selected').val();
        var index = $(el).find(':selected').data('index');
        if (index == null) {
            return;
        }
        allNames.hide()
        $('#group-channel-new').hide();
        $('#group-name').show();
        if (index != 99) {
            $('#group-name label').html(fieldOptions.channel[index]['form_name_question']);
            $('#source-name').attr("placeholder", fieldOptions.channel[index]['form_name_placeholder']);
            if ('form_name_helptext' in fieldOptions.channel[index]) {
                $('#name-helptext').html(fieldOptions.channel[index]['form_name_helptext']);
            } else { $('#name-helptext').html("") };
            if ('form_name_addon' in fieldOptions.channel[index]) {
                $('#name-addon').show().html(fieldOptions.channel[index]['form_name_addon']);
            } else { $('#name-addon').hide() };
        } else {
            $('#group-name label').html("What is the name of the news source that you suggest?");
            $('#source-name').attr("placeholder", "");
            $('#name-addon').hide();
        };

        // Set / Reset certain fields to be required
        $('#transcript-kind').attr("required", false);
        $('#channel-new').attr("required", false);
        $('#channel-comments').attr("required", false);

        if (value == 'other') {
            $('#group-channel-new').show();
            $('#channel-new').attr("required", true);
        } else if (value == 'print') {
            $('#group-epaper').show();
            $('#group-audience-size').show();
        } else if (value == 'transcript') {
            $('#group-transcript-kind').show();
            $('#transcript-kind').attr("required", true);
        } else if (value == 'website') {
            $('#group-channel-comments').show();
            $('#channel-comments').attr("required", true);
        }
    };

    if (document.querySelector('input[name="special_interest"]')) {
        document.querySelectorAll('input[name="special_interest"]').forEach((elem) => {
            elem.addEventListener("change", function(event) {
            var item = event.target.value;
            if (item == 'no') {
                document.getElementById('group-topical-focus').hidden = true;
            }
            if (item == 'yes') {
                document.getElementById('group-topical-focus').hidden = false;
            }
            });
        });
    };

    if (document.querySelector('#publication-cycle')) {
        document.getElementById('publication-cycle').addEventListener("change", function(event) {
            if (this.value == 'mulitple times per week' || this.value == 'weekly' ) {
                document.getElementById('group-publication-cycle-weekday').hidden = false;
            }
            else {
                document.getElementById('group-publication-cycle-weekday').hidden = true;
            }
            });
    };

    if (document.querySelector('#publication-cycle-weekday-none')) {
        document.getElementById('publication-cycle-weekday-none').addEventListener("change", function(event) {
            if (this.checked) {
                document.querySelectorAll('input[name^="publication_cycle_weekday"').forEach((elem) => {
                    elem.checked = true
                    elem.disabled = true
                });
            } 
            else {
                document.querySelectorAll('input[name^="publication_cycle_weekday"').forEach((elem) => {
                    elem.disabled = false
                });
            }
        } )
    }

    if (document.querySelector('input[name="geographic_scope"]')) {
        document.querySelectorAll('input[name="geographic_scope"]').forEach((elem) => {
            elem.addEventListener("change", function(event) {
            var item = event.target.value;
            if (item == 'multinational') {
                document.getElementById('group-geographic-scope-countries').hidden = false;
                document.getElementById('group-geographic-scope-subunit').hidden = true;
                document.querySelector('label[for="geographic-scope-countries"]').innerText = 'What is the multinational scope?';
                document.getElementById('geographic-scope-countries').multiple = true;

            }
            else if (item == 'national') {
                document.getElementById('group-geographic-scope-countries').hidden = false;
                document.getElementById('group-geographic-scope-subunit').hidden = true;
                document.querySelector('label[for="geographic-scope-countries"]').innerText = 'What is the national scope?';
                document.getElementById('geographic-scope-countries').multiple = false;
            }
            else if (item == 'subnational') {
                document.getElementById('group-geographic-scope-countries').hidden = false;
                document.getElementById('group-geographic-scope-subunit').hidden = false;
                document.querySelector('label[for="geographic-scope-countries"]').innerText = 'What is the national scope?';
                document.getElementById('geographic-scope-countries').multiple = false;
            }
            else {
                document.getElementById('group-geographic-scope-countries').hidden = true;
                document.getElementById('group-geographic-scope-subunit').hidden = true;
            }
            });
        });
    };




    // make form persistent with local storage
    function getFormData(f, fID) {
        let data = {
            [fID]: {}
        };
        for (var element of f.elements) {
            if (element.name.length > 0) {
                data[fID][element.name] = element.value;
            }
        }
        return data;
    };

    // populate form on page load
    function populateForm(f, fID) {
        if (localStorage.key(fID)) {
            var savedData = JSON.parse(localStorage.getItem(fID));
            for (var element of f.elements) {
                if (element.name in savedData) {
                    element.value = savedData[element.name];
                }
            }
        }
    };

    // Progress Bar
    function setProgressBar(curStep, steps) {
        var percent = parseFloat(100 / steps) * curStep;
        percent = percent.toFixed();
        $("#questionnaire-progress").css("width", percent + "%")
        $("#questionnaire-progress").attr('aria-valuenow', percent + "%")
    };


    $(document).ready(function() {

        // declare constants
        const formId = "new-source";
        const formUrl = location.href;
        const formIdentifier = `${formUrl} ${formId}`;
        var persistentForm = document.querySelector(`#${formId}`)

        // Load Select options from json api
        getFieldOptions('{{ url_for("records.fieldoptions") }}').then(function(data) {
                addFieldOptions(data, 'channel', '#channel-select');
                addFieldOptions(data, 'language', '#languages');
                addFieldOptions(data, 'country', '#geographic-scope-countries');

                // handle field visibility / dependency logic
                const channelVisibilityFields = $('#group-name, #group-epaper, #group-channel-comments, #group-transcript-kind, #group-audience-size')
                channelVisibilityFields.hide()
                $('#channel-select').change(function() {
                    let element = $(this);
                    channelVisibility(data, channelVisibilityFields, element);
                    });

                // add Tom Select for dynamically loaded data
                var TomSelectCountriesConfig = {
                    plugins: ['remove_button']
                }
                
                new TomSelect('#geographic-scope-countries', TomSelectCountriesConfig);


                // Populate form with locally stored data
                // populateForm(persistentForm, formIdentifier);
                $('#channel-select').change();


            }).catch(function(err) {
                // Run this when promise was rejected via reject()
                console.log(err)
            })       

        // Get custom attribute (data-value) from all select and put them in hidden fields
        $('select').inputSelectToHidden();

        // persistence: save changes in form
        $("#" + formId).change(function() {
            var data = getFormData(persistentForm, formIdentifier);
            localStorage.setItem(formIdentifier, JSON.stringify(data[formIdentifier]));
        });

        // persistence: clear local storage on "reset"
        $("#reset-form").click(function() {
            localStorage.removeItem(formIdentifier);
        })

        // form progression in multiple steps
        var current = 0,
            current_step, next_step, steps;
        steps = $("fieldset").length;
        $('.next').click(function() {
            current_step = $(this).parent();
            for (field of current_step[0].elements) { 
                if (!visited.includes(field)) {
                        visited.push(field);
                    }
                var validatedField = field.reportValidity() 
                if (!validatedField) {                    
                    return;
                };
            };

            next_step = $(this).parent().next();
            next_step.fadeIn('fast');
            current_step.hide();
            setProgressBar(++current, steps);
        });

        $('.prev').click(function() {
            current_step = $(this).parent();
            prev_step = $(this).parent().prev();
            prev_step.fadeIn('fast');
            current_step.hide();
            setProgressBar(--current, steps);
        });
        setProgressBar(current, steps);

    });

    // validation & submission

    const form = document.getElementById("new-source");
    form.noValidate = true;
    form.addEventListener('submit', function handleFormSubmit(event) {
        const isValid = form.reportValidity();

        if (isValid) {
            // POST form data to backend with fetch
            submitForm('{{ url_for("records.echo_json") }}', form);
        };

        event.preventDefault();
        });

    const visited = [];
    for (const field of form.elements) {
        field.addEventListener("invalid", function handleInvalidField(event) {
            setFieldValidity(field);
            event.preventDefault();
        });
        
        field.addEventListener("valid", function handleInvalidField(event) {
            console.log(field);
            setFieldValidity(field);
            event.preventDefault();
        });

        field.addEventListener("blur", function handleFieldBlur() {
            
            if (!visited.includes(field)) {
                visited.push(field);
                }
            field.checkValidity();
        });

        field.addEventListener("input", function handleFieldInput(event) {
            if (!visited.includes(field)) return;
            setFieldValidity(field); 
            
        });

        }

    function errorContainer(field) {
        const errorContainerId = field
            .getAttribute("aria-describedby")
            .split(" ")
            .find((id) => id.includes("feedback"));
        return document.getElementById(errorContainerId);
    }

    function setFieldValidity(field) {
        if (!field.validity.valid) {
            errorContainer(field).textContent = field.validationMessage;
            errorContainer(field).classList.add('invalid-feedback');
            field.setAttribute("aria-invalid", "true");
            field.classList.add('is-invalid');
        } else {
            errorContainer(field).textContent = "";
            errorContainer(field).classList.remove('invalid-feedback');
            field.removeAttribute("aria-invalid");
            field.classList.remove('is-invalid');
        }
    }


    // submit form
    
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
        }
    });


    function submitForm(endpoint, form) {
        var serializeForm = function (form) {
            var obj = {};
            var formData = new FormData(form);
            
            var obj = Object.fromEntries(
                Array.from(formData.keys()).map(key => [
                    key, formData.getAll(key).length > 1 ? 
                    formData.getAll(key) : formData.get(key)
                ])
                )

            return obj;
        };
        $.ajax({
            type: "POST",
            url: endpoint,
            data: JSON.stringify(serializeForm(form)),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data)
            }
        })

    };

    // autocomplete organization

    var TomSelectOrganizationConfig = {
        plugins: ['remove_button'],
        create: function(input,callback){
                var returnData = {
                    value:input,
                    text:input,
                    name:input,
                    country: [
                        {name: 'none'}
                    ]
                };
                console.log(returnData)
                callback(this.addOption(returnData));
            },
        valueField: 'uid',
        labelField: 'name',
        searchField: 'name',
        delimiter: ',',
        selectOnTab: true,
        // createFilter: function(input) { return input.length >= 3 },
        load: function(query, callback) {
            if ( query.length < 3 ) return callback();
            var url = '{{ url_for("records.orglookup") }}?person=false&q=' + encodeURIComponent(query);
            fetch(url)
            .then(response => response.json())
            .then(json => {
                callback(json.data);
            }).catch(() => {callback();});
        },
        render: {
            option: function(data, escape) {
                return '<div>' +
                        '<span class="title">' + escape(data.name) + '</span>' +
                        '<small class="text-muted mx-1"> (' + escape(data.country[0].name) + ')</small>' +
                    '</div>';
            },
            item: function(data, escape) {
                console.log(data);
                return '<div>' + escape(data.name) + ' <small class="mx-1"> (' + escape(data.country[0].name) + ')</small></div>';
            }
	    }
    };
    new TomSelect('#publishes', TomSelectOrganizationConfig);

    var TomSelectOtherNamesConfig = {
        plugins: ['remove_button'],
        create: true,
        render: {
            no_results:function(data,escape){
			    return '<div></div>';
		}
        }
    };

    new TomSelect('#other-names', TomSelectOtherNamesConfig);


    var TomSelectPublicationKindConfig = {
        plugins: ['remove_button'],
        create: true,
        onInitialize: function() { // hacky way of forcing the field to be not-validated on load
            this.input.classList.remove('is-invalid');
            this.input.removeAttribute("aria-invalid");
        },
        onChange: function(){ // invoke validation on change
            setFieldValidity(this.input);
	}
    };
    new TomSelect('#publication-kind', TomSelectPublicationKindConfig);

    var TomSelectTopicalFocusConfig = TomSelectPublicationKindConfig;

    new TomSelect('#topical-focus', TomSelectTopicalFocusConfig);

    




</script>


  </body>
</html>