

<!DOCTYPE html>
  <head>
    <title>newsource</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">


</head>

  <body>
      <div class="container my-4"> 
        <form id="new-source" class="needs-validation" novalidate="" autocomplete="off" autocorrect="off" spellcheck="false">
            <div class="progress my-4">
                <div id="questionnaire-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            <fieldset id="section-general">
                <div class="mb-3">
                <label for="channel-select" class="form-label">Through which channel is the news source distributed?</label>
                <!-- <input class="form-control" list="channel-options" id="channel-select" placeholder="Type to search..."> -->
                <select id="channel-select" class="form-select">
                    <option selected></option>
                </select>
                <input type="text" name="channel" id="channel-select-hidden" style="display: none;">
            </div>
            <div id="group-channel-new" class="mb-3" style="display: none;">
                <label for="channel-new" class="form-label">Please specify the channel that is not listed above:</label>
                <input type="text" name="channel_new" id="channel-new">
            </div>
            <div class="mb-3">
                <div id="group-name-print">
                    <label for="name-print" class="form-label">What is the name of the print news source?</label>
                    <input name="name" type="text" class="form-control" id="name-print" placeholder="e.g. 'The Royal Gazette'">
                </div>
                <div id="group-name-website">
                <label for="name-website" class="form-label">What is the address of the self-hosted news website?</label>
                <input name="channel_url" type="text" class="form-control" id="name-website" placeholder="e.g. 'http://www.thedailynews.com'">
            </div>

            <div id="group-name-transcript">
                <label for="name-transcript" class="form-label">What is the name of the website that provides tv, radio, or podcast scripts?</label>
                <div>
                <input name="channel_url" type="text" class="form-control" id="name-transcript" placeholder="e.g. 'http://www.theweeklypodcast.com/transcript'">
                    <small>Please specify the URL (e.g., https://www.deutschlandfunk.de/die-nachrichten-nachlesen.1794.de.html; https://www.ndr.de/nachrichten/info/index.html)</small>
                </div>

                <div id="group-transcript-kind" class="my-3">
                    <label for="transcript-kind" class="form-label">What kind of show is transcribed?</label>
                    <select name="transcript_kind" class="form-select" id="transcript-kind">
                        <option value="tv">TV (broadcast, cable, satellite, etc)</option>
                        <option value="radio">Radio</option>
                        <option value="podcast">Podcast</option>    
                        <option value="None" selected>Don't know</option>
                    </select>
                    </div>

            </div>
                
            <div id="group-name-facebook">
                <label for="name-facebook" class="form-label">What is the name of the Facebook page?</label>
                <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">https://www.facebook.com/</span>
                <input name="channel_url" type="text" class="form-control" id="name-facebook" aria-describedby="basic-addon3">
                </div>
            </div>

            <div id="group-name-instagram">
                <label for="name-instagram" class="form-label">What is the name of the Instagram account?</label>
                <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">@</span>
                <input name="channel_url" type="text" class="form-control" id="name-instagram" aria-describedby="basic-addon3">
                </div>
            </div>

                <div id="group-name-twitter">
                <label for="name-twitter" class="form-label">What is the name of the Twitter account?</label>
                <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">@</span>
                <input name="channel_url" type="text" class="form-control" id="name-twitter" aria-describedby="basic-addon3">
                </div>
            </div>
                
                <div id="group-name-telegram">
                <label for="name-telegram" class="form-label">What is the name of the Telegram account?</label>
                <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">@</span>
                <input name="channel_url" type="text" class="form-control" id="name-telegram" aria-describedby="basic-addon3">
                </div>
            </div>

                <div id="group-name-vkontakte">
                <label for="name-vkontakte" class="form-label">What is the name of the VKontakte account?</label>
                <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">@</span>
                <input name="channel_url" type="text" class="form-control" id="name-vkontakte" aria-describedby="basic-addon3">
                </div>
                </div>

                <div id="group-name-other">
                <label for="name-other" class="form-label">What is the name of the news source that you suggest?</label>
                <input name="name" type="text" class="form-control" id="name-other" >
            </div>
            </div>

            
            
            <div class="mb-3">
                <label for="other-names" class="form-label">Is the news source known by alternative names (e.g. Krone, Die Kronen Zeitung)? Please type them here:</label>
                <input type="text" name="other_names" class="form-control" id="other-names" placeholder="Separate by comma">
            </div>

            <div id="group-epaper" class="mb-3" style="display: none;">
                <label for="channel-epaper" class="form-label">Does the print news source have an e-paper version? Please insert the url here:</label>
                <input name="channel_epaper" type="text" class="form-control" id="channel-epaper" placeholder="Please specify (e.g., https://swmh-epaper.s4p-iapps.com/)">
                </div>
                

            <div id="group-channel-comments" class="mb-3" style="display: none;">
                <label for="channel-comments" class="form-label">Does the online news source have user comments below individual news articles?</label>
                <select name="channel_comments" type="text" class="form-control" id="channel-comments" placeholder="Please specify (e.g., https://swmh-epaper.s4p-iapps.com/)">
                    <option selected></option>
                    <option label="No comments">No comments</option>
                    <option label="User comments with registration">Registration required</option>
                    <option label="User comments without registration">Anyone</option>
                    <option label="Don't know">DK</option>
                </select>
                </div>
            
            <div class="mb-3">
                <label for="source-founded" class="form-label">What year was the news source founded?</label>
                <input name="founded" type="number" step="1" min="1900" max="2100" class="form-control" id="source-founded" placeholder="Format: YYYY">
                </div>

                <input type="button" class="btn btn-primary next" value="Next Step">
            </fieldset>
            <fieldset id="section-economic" style="display: none;">
                <input type="button" class="btn btn-primary prev" value="Previous Step">
                <input type="button" class="btn btn-primary next" value="Next Step">
            </fieldset>
            <fieldset id="section-final" style="display: none;">
                <input type="button" class="btn btn-primary prev" value="Previous Step">
            <input type="submit" class="btn btn-success" value="Submit" disabled/>
        </fieldset>
        
        </form>
</div>

<script>
    // GLOBAL CONSTANTS
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var csrftoken = "{{ csrf_token() }}";


    // BLOCK
    // Get value from all select and put them in hidden fields
    document.querySelector('select').addEventListener('input', function(e) {
    var input = e.target,
        list = input.getAttribute('list'),
        options = document.querySelectorAll('#' + list + ' option'),
        hiddenInput = document.getElementById(input.getAttribute('id') + '-hidden'),
        inputValue = input.value;

    hiddenInput.value = inputValue;

    for(var i = 0; i < options.length; i++) {
        var option = options[i];

        if(option.innerText === inputValue) {
            hiddenInput.value = option.getAttribute('data-value');
            break;
        }
    }
});
    // Load Select options from json file

    var channelInput = document.getElementById('channel-select')
    // var channelOptions = document.getElementById('channel-options');
    channelInput.placeholder = "Loading options..."
    var request = new XMLHttpRequest();

    // Handle state changes for the request.
    request.onreadystatechange = function(response) {
        if (request.readyState === 4) {
            if (request.status === 200) {
            // Parse the JSON
            var jsonOptions = JSON.parse(request.responseText);

            // Loop over the JSON array.
            jsonOptions.channel.forEach(function(item) {
                // Create a new <option> element.
                var option = document.createElement('option');
                // Set the value using the item in the JSON array.
                option.value = item.uid;
                option.setAttribute('data-value', item.unique_name);
                // option.value = item.name;
                option.innerText = item.name;
                // Add the <option> element to the <select>.
                    channelInput.appendChild(option);
            });
            // Add 'Other' option
            var otherOption = document.createElement('option');
            otherOption.value = 'new';
            otherOption.innerText = 'Other'
            otherOption.setAttribute('data-value', 'other');
            channelInput.appendChild(otherOption)

            // Update the placeholder text.
            channelInput.placeholder = "e.g. Print, Website, Facebook";
            } else {
            // An error occured :(
            channelInput.placeholder = "Couldn't load Select options :(";
            }
        }
        };


    request.open('GET', '{{ url_for("records.fieldoptions") }}', true);
    request.send();

    // submit form
    
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
        }
    });

    function objectifyForm(formArray) {
    //serialize data function
    var returnArray = {};
    for (var i = 0; i < formArray.length; i++){
        if (formArray[i]['value'] === "") { continue }
        returnArray[formArray[i]['name']] = formArray[i]['value'];
    }
    return returnArray;
    }

    $(document).ready(function() {
        var form = $('#new-source');
        form.submit(function (e) {
            var url = "{{ url_for('records.echo_json') }}"; // send the form data here.
            e.preventDefault(); // block the traditional submission of the form.
            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(objectifyForm(form.serializeArray())), // serializes the form's elements.
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log(data)  // display the returned data in the console.
                }
            });
        });
    });

    // Field Visibility Logic

    $( document ).ready(function() {
    var allNames = $('[id^=group-name-], #group-epaper, #group-channel-comments')
    allNames.hide()

    $('#channel-select').change( function (){ 
        
        var value = $(this).find(':selected').data('value');
        console.log(value);
        allNames.hide();
        $('#group-channel-new').hide();
        $('#group-name-' + value).show();
        if (value == 'other') {
            $('#group-channel-new').show()
        }

        else if (value == 'print') {
            $('#group-epaper').show()
        }

        else if (value == 'website') {
            $('#group-channel-comments').show()
        }


    });

    });

    // form section progression

    $( document ).ready(function() {
        var current = 0, current_step, next_step, steps;
        steps = $("fieldset").length;

        $('.next').click(function() {
            current_step = $(this).parent();
            next_step = $(this).parent().next();
            next_step.show();
            current_step.hide();
            setProgressBar(++current);       
        }
        )

        $('.prev').click(function() {
            current_step = $(this).parent();
            prev_step = $(this).parent().prev();
            prev_step.show();
            current_step.hide();
            setProgressBar(--current);       
        }
        )
        setProgressBar(current)

        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $("#questionnaire-progress").css("width", percent + "%")
            $("#questionnaire-progress").attr('aria-valuenow', percent + "%")
        }

    }
    )


</script>


  </body>
</html>