

<!DOCTYPE html>
  <head>
    <title>newsource</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">

    <style>
        
    </style>

</head>

  <body>
      <div class="container my-4"> 
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary my-5" id="loading-form" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <form id="new-source" autocomplete="off" autocorrect="off" spellcheck="false" style="display: none;">
            <div class="progress my-4">
                <div id="questionnaire-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <fieldset id="section-general">
                <div class="mb-3 form-group">
                    <label for="channel-select" class="form-label">Through which channel is the news source distributed?</label>
                    <!-- <input class="form-control" list="channel-options" id="channel-select" placeholder="Type to search..."> -->
                    <select name="channel" id="channel-select" class="form-select" required>
                        <option value="" selected disabled>Select...</option>
                    </select>
                    <input type="text" name="channel_uid" id="channel-select-hidden" disabled>
                </div>
                <div id="group-channel-new" class="mb-3" style="display: none;">
                    <label for="channel-new" class="form-label">Please specify the channel that is not listed above:</label>
                    <input type="text" name="channel_new" class="form-control" id="channel-new" aria-describedby="channel-new-feedback">
                    <div id="channel-new-feedback"></div>
                </div>
                <div class="mb-3">
                    <div id="group-name" class="form-group">
                        <label for="name" class="form-label">What is the name of the print news source?</label>
                    <div class="input-group">
                        <span class="input-group-text" id="name-addon">https://www.facebook.com/</span>
                        <input name="name" type="text" class="form-control" id="source-name" placeholder="e.g. 'The Royal Gazette'" aria-describedby="name-feedback" required>
                        </div>
                        <small id="name-helptext"></small>
                        <div id="name-feedback"></div>
                    </div>
                    <div id="group-transcript-kind" class="my-3 form-group">
                        <label for="transcript-kind" class="form-label">What kind of show is transcribed?</label>
                        <select name="transcript_kind" class="form-select" id="transcript-kind">
                            <option disabled selected>Choose...</option>
                            <option value="tv">TV (broadcast, cable, satellite, etc)</option>
                            <option value="radio">Radio</option>
                            <option value="podcast">Podcast</option>    
                            <option value="None">Don't know</option>
                        </select>
                    </div>
            </div>
            
            <div class="mb-3 form-group">
                <label for="other-names" class="form-label">Is the news source known by alternative names (e.g. Krone, Die Kronen Zeitung)? Please type them here:</label>
                <input type="text" name="other_names" class="form-control" id="other-names" placeholder="Separate by comma">
            </div>

            <div id="group-epaper" class="mb-3 form-group" style="display: none;">
                <label for="channel-epaper" class="form-label">Does the print news source have an e-paper version? Please insert the url here:</label>
                <input name="channel_epaper" type="text" class="form-control" id="channel-epaper" placeholder="Please specify (e.g., https://swmh-epaper.s4p-iapps.com/)">
            </div>

            <div id="group-channel-comments" class="mb-3 form-group" style="display: none;">
                <label for="channel-comments" class="form-label">Does the online news source have user comments below individual news articles?</label>
                <select name="channel_comments" type="text" class="form-control" id="channel-comments" placeholder="Please specify (e.g., https://swmh-epaper.s4p-iapps.com/)">
                    <option selected></option>
                    <option label="No comments">No comments</option>
                    <option label="User comments with registration">Registration required</option>
                    <option label="User comments without registration">Anyone</option>
                    <option label="Don't know">DK</option>
                </select>
                </div>
            
            <div class="mb-3 form-group">
                <label for="source-founded" class="form-label">What year was the news source founded?</label>
                <input name="founded" type="number" step="1" min="1900" max="2100" class="form-control" id="source-founded" placeholder="Format: YYYY" aria-describedby="founded-feedback">
                <div id="founded-feedback"></div>
                </div>

                <input type="button" class="btn btn-primary next" value="Next Step">
            </fieldset>
            <fieldset id="section-economic" style="display: none;">
                <input type="button" class="btn btn-primary prev" value="Previous Step">
                <input type="button" class="btn btn-primary next" value="Next Step">
            </fieldset>
            <fieldset id="section-final" style="display: none;">
                <input type="button" class="btn btn-primary prev" value="Previous Step">
                <input type="submit" class="btn btn-success" value="Submit" />
            </fieldset>
            <div class="mb-3 d-flex flex-row-reverse">
                <input type="reset" class="btn btn-danger" id="reset-form" value="Reset form" />
            </div>
        
        </form>
</div>

<script>

    // rewrite everything with jquery https://tobiasahlin.com/blog/move-from-jquery-to-vanilla-javascript/#selecting-elements
    // GLOBAL CONSTANTS
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    const csrftoken = "{{ csrf_token() }}";
    
    // ********************
    // Function declaration
    // ********************

    // Get custom attribute (data-value) from all select and put them in hidden fields
    (function($) {
        $.fn.extend({
            inputSelectToHidden: function() {
                return this.change(function() {
                    var option = $('option:selected', this).attr('data-value');
                    var hidden = $("#" + this.id + "-hidden");
                    hidden.val(option);
                })
                }
        });
    })(jQuery);

    function addFieldOptions(fieldOptions, key, selector) {
        fieldOptions[key].forEach(function(item, i) {
            $(selector).append('<option value="' + item.unique_name + '" data-value="' + item.uid + '" data-index="' + i + '">' + item.name + '</option>');

    })
        $(selector).append('<option value="other" data-value="new" data-index="99">Other</option>');

    };

    function getFieldOptions(targetUrl) {
        return new Promise(function(resolve, reject) {
            $.ajax({
                url: targetUrl,
                success: function(data) {
                    resolve(data); // Resolve promise and go to then()
                    $('#loading-form').hide();
                    $('#new-source').show();
                },
                error: function(err) {
                    reject(err) // Reject the promise and go to catch()
                }
            });
        });
    }

    // Field Visibility Logic
    function fieldVisibility(fieldOptions, allNames, el) {
        var value = $(el).find(':selected').val();
        console.log(value);
        var index = $(el).find(':selected').data('index');
        allNames.hide()
        $('#group-channel-new').hide();
        $('#group-name').show();
        if (index != 99) {
            $('#group-name label').html(fieldOptions.channel[index]['form_name_question']);
            $('#source-name').attr("placeholder", fieldOptions.channel[index]['form_name_placeholder']);
            if ('form_name_helptext' in fieldOptions.channel[index]) {
                $('#name-helptext').html(fieldOptions.channel[index]['form_name_helptext']);
            } else { $('#name-helptext').html("") };
            if ('form_name_addon' in fieldOptions.channel[index]) {
                $('#name-addon').show().html(fieldOptions.channel[index]['form_name_addon']);
            } else { $('#name-addon').hide() };
        } else {
            $('#group-name label').html("What is the name of the news source that you suggest?");
            $('#source-name').attr("placeholder", "");
            $('#name-addon').hide();
        };

        if (value == 'other') {
            $('#group-channel-new').show()
        } else if (value == 'print') {
            $('#group-epaper').show()
        } else if (value == 'transcript') {
            $('#group-transcript-kind').show()
        } else if (value == 'website') {
            $('#group-channel-comments').show()
        }
    };

    // make form persistent with local storage
    function getFormData(f, fID) {
        let data = {
            [fID]: {}
        };
        for (var element of f.elements) {
            if (element.name.length > 0) {
                data[fID][element.name] = element.value;
            }
        }
        return data;
    };

    // populate form on page load
    function populateForm(f, fID) {
        if (localStorage.key(fID)) {
            var savedData = JSON.parse(localStorage.getItem(fID));
            for (var element of f.elements) {
                if (element.name in savedData) {
                    element.value = savedData[element.name];
                }
            }
        }
    };

    // Progress Bar
    function setProgressBar(curStep, steps) {
        var percent = parseFloat(100 / steps) * curStep;
        percent = percent.toFixed();
        $("#questionnaire-progress").css("width", percent + "%")
        $("#questionnaire-progress").attr('aria-valuenow', percent + "%")
    };


    $(document).ready(function() {

        // declare constants
        const formId = "new-source";
        const formUrl = location.href;
        const formIdentifier = `${formUrl} ${formId}`;
        var persistentForm = document.querySelector(`#${formId}`)

        // Load Select options from json api
        getFieldOptions('{{ url_for("records.fieldoptions") }}').then(function(data) {
                addFieldOptions(data, 'channel', '#channel-select');

                // handle field visibility / dependency logic
                const allNames = $('#group-name, #group-epaper, #group-channel-comments, #group-transcript-kind')
                allNames.hide()
                $('#channel-select').change(function() {
                    let element = $(this);
                    fieldVisibility(data, allNames, element);
                    });

                // Populate form with locally stored data
                populateForm(persistentForm, formIdentifier);
                $('#channel-select').change();


            }).catch(function(err) {
                // Run this when promise was rejected via reject()
                console.log(err)
            })       

        // Get custom attribute (data-value) from all select and put them in hidden fields
        $('select').inputSelectToHidden();

        // persistence: save changes in form
        $("#" + formId).change(function() {
            var data = getFormData(persistentForm, formIdentifier);
            localStorage.setItem(formIdentifier, JSON.stringify(data[formIdentifier]));
        });

        // persistence: clear local storage on "reset"
        $("#reset-form").click(function() {
            localStorage.removeItem(formIdentifier);
        })

        // form progression in multiple steps
        var current = 0,
            current_step, next_step, steps;
        steps = $("fieldset").length;
        $('.next').click(function() {
            current_step = $(this).parent();
            next_step = $(this).parent().next();
            next_step.fadeIn('fast');
            current_step.hide();
            setProgressBar(++current, steps);
        });

        $('.prev').click(function() {
            current_step = $(this).parent();
            prev_step = $(this).parent().prev();
            prev_step.fadeIn('fast');
            current_step.hide();
            setProgressBar(--current, steps);
        });
        setProgressBar(current, steps);

    });

    // validation
    const form = document.getElementById("new-source");
    form.noValidate = true;
    form.addEventListener('submit', function handleFormSubmit(event) {
        const isValid = form.reportValidity();

        if (isValid) {
            // POST form data to backend with fetch
        }

        event.preventDefault();
        });

    const visited = [];
    for (const field of form.elements) {
        field.addEventListener("invalid", function handleInvalidField(event) {
            setFieldValidity(field);
            event.preventDefault();
            });

        field.addEventListener("blur", function handleFieldBlur() {
            
            if (!visited.includes(field)) {
                visited.push(field);
                }
            field.checkValidity();
            });

        field.addEventListener("input", function handleFieldInput(event) {
            if (!visited.includes(field)) return;
            setFieldValidity(field); 
            
        });

        }

    function errorContainer(field) {
        const errorContainerId = field
            .getAttribute("aria-describedby")
            .split(" ")
            .find((id) => id.includes("feedback"));
        return document.getElementById(errorContainerId);
    }

    function setFieldValidity(field) {
        if (!field.validity.valid) {
            errorContainer(field).textContent = field.validationMessage;
            field.setAttribute("aria-invalid", "true");
            field.classList.add('is-invalid');
        } else {
            errorContainer(field).textContent = "";
            field.removeAttribute("aria-invalid");
            field.classList.remove('is-invalid');
        }
    }


    // submit form
    
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
        }
    });

    function objectifyForm(formArray) {
    //serialize data function
    var returnArray = {};
    for (var i = 0; i < formArray.length; i++){
        if (formArray[i]['value'] === "") { continue }
        returnArray[formArray[i]['name']] = formArray[i]['value'];
    }
    return returnArray;
    }

    $(document).ready(function() {
        var form = $('#new-source');
        form.submit(function (e) {
            var url = "{{ url_for('records.echo_json') }}"; // send the form data here.
            e.preventDefault(); // block the traditional submission of the form.
            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(objectifyForm(form.serializeArray())), // serializes the form's elements.
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log(data)  // display the returned data in the console.
                }
            });
        });
    });

*/

</script>


  </body>
</html>