{% extends "layout.html" %} {% block content %}


<h1>About</h1>

<p class="lead">OPTED Meteor (Media Text Open Registry) is an inventory for European journalistic texts and is part of the EU-funded Project OPTED where researchers work towards the creation of a new European research infrastructure for the study of political communication in Europe. 
Please visit <a href="https://opted.eu" target="_blank">opted.eu</a> for more information about the project.</p>

<p class="lead">
<em>Meteor</em> is designed by Work Package 3 (<a href="https://compcommlab.univie.ac.at/" target="_blank">University of Vienna</a>)
</p>

{% filter markdown %}

# Contact

You can reach us via various means. If you have feedback or questions your can either send us an email to [wp3@opted.eu](mailto:wp3@opted.eu)
or also poke us with a tweet [@OPTED_H2020](https://twitter.com/OPTED_H2020).

In case some technical aspect is not working you can raise an issue in our [github repository](https://github.com/opted-eu) or directly send an email to [Paul](https://compcommlab.univie.ac.at/team/praedocs/)



## Contributors

- **Work Package Leaders:** Univ.-Prof. Dr. Annie Waldherr, Univ.-Prof. Hajo Boomgaarden, PhD
- **Scientific Team:** Dr. Fabienne Lind, Paul Balluff, Marvin Stecker, Celina Dinhopl 
- **Technical Implementation:** Paul Balluff

## References

- Schwaiger, L. (2022). *Gegen die Öffentlichkeit: Alternative Nachrichtenmedien im deutschsprachigen Raum*. Bielefeld: transcript Verlag. [10.1515/9783839461211](https://doi.org/10.1515/9783839461211) (List of alternative media for German speaking countries).

## Citation

If you want to reference the inventory, please use the following citation:

- Balluff, P., Lind, F., Boomgaarden, H. G., & Waldherr, A. (2022). Mapping the European media landscape – Meteor, a curated and community-coded inventory of news sources. *European Journal of Communication*. [10.1177/02673231221112006](https://doi.org/10.1177/02673231221112006)

```
@article{doi:10.1177/02673231221112006,
    author = {Paul Balluff and Fabienne Lind and 
        Hajo G. Boomgaarden and Annie Waldherr},
    title = {Mapping the European media landscape – 
        Meteor, a curated and community-coded inventory of news sources},
    journal = {European Journal of Communication},
    year = {2022},
    doi = {10.1177/02673231221112006}
}
```

If you are using the data in this inventory, please use the following citation:

- Balluff, P., Lind, F., Stecker, M., Dinhopl, C., Boomgaarden, H. G., Waldherr, A. (2022). *Meteor: Inventory of news sources, media organizations, and text analysis tools*. OPTED. [https://meteor.opted.eu](https://meteor.opted.eu)

```
@techreport{Meteor,
    author = {Paul Balluff and Fabienne Lind and Marvin Stecker and 
        Celina Dinhopl and Hajo G. Boomgaarden and Annie Waldherr},
    title = {Meteor: Inventory of news sources, media organizations, 
        and text analysis tools},
    year = {2022},
    institution = {OPTED},
    type = {Database}
    url = {https://meteor.opted.eu}
}
```

# Coverage of Meteor

*Meteor* is a continuously growing database and depends on the contributions of individual users. 
While there is a small team working on adding new entries and reviewing contributions, there is still much work to be done.
Therefore, this registry does still not have complete coverage of news sources and media organizations in Europe. 
It will take time until we get to a satisfactory number of entries to have a true map of the European media landscape.

Nevertheless, **we encourage all users to contribute entries to *Meteor***. 
Even if it is only a few news sources or your favourite text analysis tool.
If you are not sure where to start, just drop us an email or tweet and we are happy to help.


# Changelog

### 30 Aug 2022 (Version 1.2.0): Network Graphs 🕸️

 - You can now view a visualization of ownership structures
 - Entries for news sources and media organizations now automatically show the interactive network plot at the sidebar
 - New feature still under testing and may not run smoothly!

#### Tweaks for Queries

 - Users can now choose the type of filter connector. E.g., you can now search for news sources that are in `Germany AND France` or  `Germany OR France`
 - Query fields have now better labels (e.g. "ConceptVar" ➡️ "Concept Variable")
 - Query results table now stays within its boundaries
 - Query fields now do not randomly change their order

### 25 Aug 2022 (Version 1.1.1): Queryable facets

 - Fields such as "Audience Size" can now be queried
 - also added support for different comparison operators

### 24 Aug 2022 (Version 1.1.0): Advanced Queries 🎉

 - Complete overhaul of query system
 - Entries can now be queried according to assorted predicates (i.e. variables). 
    Results are presented in a paginated table. 
 - Individual views now also lead to proper query pages. 
        E.g, you can now view all news sources included in a data archive or dataset.
 - Minor update: *Meteor* now has `<meta>` tags
 - Some minor UI tweaks

### 18 Aug 2022 (Version 1.0.4): Bug Fixes & UI Improvements

 - Fixed bug that prevented addresses to be deleted from Organizations
 - Defunct markers can now be removed again
 - UI: links to "pending" entries indicate the review status
 - When entering a DOI (or other identifier) in the "Add Entry" screen, 
    it now checks whether an entry with this identifier is already in *Meteor* 
 - WikiData API does no longer not assign countries to Tools or similar Entry types
 - Adding tools: Better cleaning and querying of third-party APIs
 - Fixed bug where multiple choice fields would pre-populate forms with wrong data when editing an entry
 - When a form is submitted and returns an error, the form content should now be restored instead of cleared
 - When adding a draft source the publishing organizations (reverse relationships) are now stored properly
 - Rejecting entries now completely removes all their relationships
 - Some quality of life changes for editing and reviewing entries
 - Meteor now has a `robots.txt` and `sitemap.xml`
 - Free text search box now can search all kinds of diacritics (e.g., `ceska` now also matches `Česká`)
 - Free text search also can search for author names now

### 05 Jul 2022: Materials

 - Added teaching materials and rearranged top navigation

### 30 Jun 2022: Branding

 - Globally changed branding from "WP3" to "Meteor"

### 02 May 2022: Bug Fixes

 - "Country" selection in Archives can now be edited
 - Improved field validation when adding new Sources
 - Improved data inheritance when adding related Sources
 - Fixed permission issues related bugs
 - Audience size information is now displayed correctly and formatted with comma separation

### 11 Apr 2022: Update to Version 1.0

Larger update where background processes were improved and major section of the source code were refactored.

#### New and completely revised entry types

 - Updated or added: corpus, dataset, tool, archive, research papers
 - Above entry types can now be added by users
 - Automatically load meta information via DOI, arXiv, CRAN, and PyPI

#### Refreshed UI

 - UI Tweaks here and there
 - When adding a new entry, hitting "Enter" key won't accidentally submit the entry anymore

#### Other

 - Users can now delete drafts (go to "My Entries")

### 15 Feb 2022

 - Improvements for the user interface
 - Added more languages to the selection
 - The news sources mentioned in the [guides]({{ url_for('main.guides_newssource')}}) are now added to the inventory as examples
 - Added [FAQ Section]({{ url_for('main.guides_faq')}}).

### 07 Feb 2022

#### News Sources
 - added option for publication cycles that are less frequent than monthly.
 - user comments on websites are now captured in two separate variables: one asking for the presence of user generated comments in general, the second one whether an account is required to leave comments.
 - news sources can now be affiliated with political parties. The view/add/edit screens now show this variable.
 - users can now add related sources to existing entries. The feature is now available either via the "add new" page or from viewing a news source. The "add related" button at the sidebar takes the user to a pre-filled form.
 - When viewing a news source, sidebar now also shows "pending" entries. 

#### Organisations
 - Organisations can now have the ownership kind "Political Party".
 - Organisations can now also be affiliated with political parties (same as for news sources).
 - When viewing organizations the published sources are now shown in the sidebar.

#### Reviewing
 - Reviewing and editing an entry can now be done in one go.

[TOC]

{% endfilter %}

{% endblock content %}

{% block sidebar %}

{% include "guides/sidebar_toc.html" %} 

{% endblock sidebar %}
