{% extends "layout.html" %} {% block content %}

<h1 class="mb-4">About</h1>

<p class="lead">The OPTED inventory for European media is part of the EU-funded Project OPTED where researchers work towards the creation of a new European research infrastructure for the study of political communication in Europe. Please visit <a href="https://opted.eu/"
        , target="_blank">opted.eu</a> for more information about the project.</p>
<p>The OPTED inventory for European media is designed by Work Package 3 (<a href="https://compcommlab.univie.ac.at/" , target="_blank">University of Vienna</a>)</p>


{% endblock content %}