{% extends "layout.html" %} {% block content %}
<article>

    <div class="col d-flex align-items-start mb-4">
    <div class="icon-square me-3">
        <h2><i class="fas fa-times-circle" alt="Rejected"></i></h2>
    </div>
    <div class="w-100">
        <h2>{{ entry.name }} <small class="fs-6 mx-4 text-muted">({{ entry.uid }})</small></h2>
    </div>
</div>

<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-4"><h5>General Information</h5></dt>
        <dd class="col-sm-9 mb-4">{% include "view/elements/entry_status.html" %}</dd>
        {% if entry.other_names %}
        <dt class="col-sm-3">Also known as</dt>
        <dd class="col-sm-9">{{ ", ".join(entry.other_names) }}</dd>{% endif %} 
        {% if entry.creation_date %}
        <dt class="col-sm-3">Creation Date</dt>
        <dd class="col-sm-9">{{ entry.creation_date.strftime('%d %b %Y, %H:%M') }}</dd>
        {% endif %}
        {% if entry.entry_added %}
        <dt class="col-sm-3">Created By</dt>
        <dd class="col-sm-9">{{ entry.entry_added.get('user_displayname') }}</dd>
        {% endif %}
        {% if entry.entry_notes %}
        <dt class="col-sm-3">Notes</dt>
        <dd class="col-sm-9">{{ entry.notes }}</dd>
        {% endif %}
        {% if entry.reviewed_by %}
        <dt class="col-sm-3">Reviewed By</dt>
        <dd class="col-sm-9">{{ entry.reviewed_by.get('user_displayname') }}</dd>
        {% endif %}
        
    </dl>
</div>

</article>
{% endblock content %}