<div class="d-flex flex-column align-items-stretch bg-white" style="width: 380px;">
    <a href="#" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">Related Sources by brand</span>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea">
        {% if related %} 
        {% for item in related %}
        <a href="{{ url_for('inventory.view_source', unique_name=item.unique_name) }}" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1"><i class="icon-{{ item.channel.unique_name }} color-{{ item.channel.unique_name }} fa-fw mx-1" alt="{{ item.channel.name }}"></i>
                    {{ item.name }} ({{item.channel.name}})</strong>
                <small></small>
            </div>
            <div class="col-10 mb-1 small"></div>
        </a>
        {% endfor %} 

        {% else %}

        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight disabled">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">None</strong>
                <small></small>
            </div>
            <div class="col-10 mb-1 small"></div>
        </a>

        {% endif %}

    </div>
</div>