# /etc/systemd/system/flaskinventory.service
[Unit]
Description=Flask WP3 Inventory
After=network.target

[Service]
Type=simple
User=ava
WorkingDirectory=/home/ava/wp3inventory
ExecStart=/home/ava/venv/bin/waitress-serve --listen=*:5000 --call 'flaskinventory:create_app'
Restart=always
Environment="flaskinventory_SECRETKEY=123456789"

[Install]
WantedBy=multi-user.target